[submodule "notebooks/Sandbox/confluence-python-api/lib/atlassian-python-api"]
	path = notebooks/Sandbox/confluence-python-api/lib/atlassian-python-api
	url = https://github.com/atlassian-api/atlassian-python-api.git
	branch = 3.6.0
[submodule "notebooks/confluence-export/lib/atlassian-python-api"]
	path = notebooks/confluence-export/lib/atlassian-python-api
	url = https://github.com/atlassian-api/atlassian-python-api.git
	branch = 3.6.0
