# manually curated
ipython
deprecated
requests
openpyxl
jinja2
lxml
tqdm

markdown
# required for text-font bounding box estimations
pygame

pandas
colorama
matplotlib

requests-oauthlib

# QA and packaging
invoke
papermill
nbstripout
nbconvert
pytest
coverage
flake8

