<!-- this is the Confluence page content template for IM:domain to be rendered using jinja2 -->
{% set domain = item %}
<ac:layout>
    {% include 'header.templ.html' %}
    <ac:layout-section ac:type="two_right_sidebar">
        <ac:layout-cell>
            <!--domains-->        
			<div class="entity" id={{getid()}}>
				<div class="describtion">
					<span> 
						<p>gettext('Wertebereich')</p>
						<h1>{{ gettext('Domain %(name)s', name=util.translate(domain['name'])) }}</h1>
						<p1>{{ util.translate_text(domain['descr']) }}</p1>
					</span>
				</div>
				<div class="panel-body">
					<div class="collapse" id={{getbar()}}>                    
						<h2>Informationen</h2>
						<div id="container2">
							<div class="table-responsive">
								<table class="table borderless">
									<tbody>
										<tr>
											<th>gettext('Datentyp')</th>
											{% if domain['type'] in ('TXT','LOV') %}
												<th>gettext('Max. Länge')</th>
												<th>gettext('Syntaxregel')</th>
											{% elif domain['type'] in ('BIN') %}
												<th>gettext('Inhaltstyp')</th>
												<th>gettext('Format')</th>
											{% elif domain['type'] in ('NUM','DAT') %}
												{% elif domain['type'] in ('NUM') %}
													<th>gettext('Vorkommast.')</th>
													<th>gettext('Nachkommast.')</th>
													<th>gettext('Rundungseinh.')</th>
													<th>gettext('Einheit')</th>
												{% elif domain['type'] in ('DAT') %}
													<th>gettext('Granularität')</th>
												{% endif %}
												<th>gettext('Min. Wert')</th>
												<th>gettext('Max. Wert')</th>												
											{% elif domain['type'] in ('GRP') %}
																						
											{% endif %}
											<th>gettext('geändert')</th>
										</tr>
										<tr>
											<td class="attribute">{{ util.translate(domain['displdatatype+']) }}</td>
											{% if domain['type'] in ('TXT','LOV') %}
											<td class="attribute">domain['maxlng']</td>
											<td class="attribute">domain['syntaxrule']</td>
											{% elif domain['type'] in ('BIN') %}
												<td class="attribute">domain['contenttype']</td>
												<td class="attribute">domain['contenttypename+']</td>
											{% elif domain['type'] in ('NUM','DAT') %}
												{% elif domain['type'] in ('NUM') %}
													<td class="attribute">domain['totaldigits']</td>
													<td class="attribute">domain['fractdigits']</td>
													<td class="attribute">domain['roundvalue']</td>
													<td class="attribute">domain['unit']</td>
												{% elif domain['type'] in ('DAT') %}
													<td class="attribute">domain['granularitytext+']</td>
												{% endif %}
													<td class="attribute">domain['minvalue']</td>
													<td class="attribute">domain['maxvalue']</td>
											{% elif domain['type'] in ('GRP') %}
																						
											{% endif %}
											<td class="attribute">domain['uc']+', '+domain['dc']</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
        </ac:layout-cell>
    </ac:layout-section>
    <ac:layout-section ac:type="single">
		<ac:layout-cell>
			{% elif domain['type'] in ('GRP') %}
			<h3>{{ gettext('Elemente')}}</h3>        
			<div class="table-responsive">
				<table class="table borderless" >
					<tbody>
						<tr>
							<th>{{ gettext('Element')}}</th>
							<th>{{ gettext('Beschreibung')}}</th>
							<th>{{ gettext('Wertebereich')}}</th>
							<th>{{ gettext('Pflichtattribut')}}</th>
						</tr>
						{% for elem in domain['elements']%}
							
							<td>{{ elem['name'] }}</td>
							<td>{{ elem['descr'] }}</td>
							<td>{{ util.soft_link(elem['domain'] }}</td>
							{% if elem['mandatory'] == "true" %}
								<td class="symbol"><img class="icon-remove" src="icons/plus.svg"></td>
							{% else %}
								<td class="symbol"><img class="icon-remove" src="icons/cross.svg"></td>
							{% endif %}
						{% endfor %}
						</tr>
					</tbody>
				</table>
			</div>
			{% endif %}
        </ac:layout-cell>
	</ac:layout-section>
{# 
	<ac:layout-section ac:type="single">
		<ac:layout-cell>
			{% if len(domain['usedinattrs+']) > 0 %}
			<div class="panel">
				<div class="panel-heading collapsed" data-toggle="collapse"  data-target={{ getbar() }}>
					<img class="icon-chevron-up" alt="minus" src="icons/chevron-up.svg">
					<img class="icon-chevron-down" alt="plus" src="icons/chevron-down.svg">
					<label class="label1">{}</label>				
				</div>
			</div>
			<div class="collapse" id={{ getbar() }}>
				<h2>{{ gettext('Verwendet für Attribute') }}</h2>
				<table class="relative-table" style="width: 100%;">
					<tbody>
						<tr>
							<th>{{ gettext('Entity') }}</th>
							<th>{{ gettext('Attribute') }}</th>
						</tr>
						{% for attribute_key in domain['usedinattrs+'] %}
						{% set attribute = data['attributes'][attribute_key] %}
						<tr>
							<td>{{ util.soft_link(attribute['entity']) }}</td>
							<td>{{ util.soft_link(attribute_key) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}
        </ac:layout-cell>
    </ac:layout-section>
    <ac:layout-section ac:type="single">
        <ac:layout-cell>
				{% if len(domain['usedincols+']) > 0 %}
				<h1>{{ gettext('Verwendet für Columns') }}</h1>
				<table class="relative-table" style="width: 100%;">
					<tbody>
						<tr>
							<th>{{ gettext('Table') }}</th>
							<th>{{ gettext('Column') }}</th>
						</tr>
						{% for column_key in domain['usedincols+'] %}
						{% set column = data['columns'][column_key] %}
						<tr>
							<td>{{ util.soft_link(column['table-id']) }}</td>
							<td>{{ util.soft_link(column["name"]) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				</div>
				{% endif %}
        </ac:layout-cell>
    <div class="panel">
        <div class="panel-heading collapsed" data-toggle="collapse"  data-target={{getbar()>}}
            <img class="icon-chevron-up" alt="minus" src="icons/chevron-up.svg">
            <img class="icon-chevron-down" alt="plus" src="icons/chevron-down.svg">
            <label class="label1"><h3>Verwendet für Attribute</h3></label>				
        </div>
    </div>
	
	</ac:layout-section>
#}
</ac:layout>
