<!-- this is the Confluence page content template for IM:Attribute to be rendered using jinja2 -->
{% set attribute = item %}
<ac:layout>
  {% include 'header.templ.html' %}
  <ac:layout-section ac:type="two_right_sidebar">
    <ac:layout-cell>
      <h1>{{ gettext('Attribute %(name)s [Information Model]', name=util.translate(attribute['name'])) }}</h1>
      <p>{{ util.translate_text(attribute['descr']) }}</p>
      <table class="relative-table" style="width: 100%;">
        <tbody>
          <tr>
            <th>{{ gettext('Tooltip') }}</th>
            <td>{{attribute['tooltip']}}</td>
            <td></td>
          </tr>
          <tr>
            <th>{{ gettext('Type') }}</th>
            <td>{{attribute['basedatatype+']}}</td>
            <td></td>
          </tr>
          <tr>
            <th>{{ gettext('Basetype') }}</th>
            <td>{{ attribute['type+'] }}</td>
            <td></td>
          </tr>
          <tr>
            <th>{{ gettext('Entity') }}</th>
            <td>{{ util.soft_link(attribute.get('entity')) }}</td>
            <td></td>
          </tr>
          <tr>
            <th>{{ gettext('Mandatory') }}</th>
            <td>{{ attribute['mandatory']}}</td>
            <td></td>
          </tr>
          <tr>
            <th>{{ gettext('Descriptive') }}</th>
            <td>{{ attribute['descriptive']}} </td>
            <td>{{ gettext('Whether the attribute is used for descriptive purposes') }}</td>
          </tr>
          <tr>
            <th>{{ gettext('Translated') }}</th>
            <td>{{ attribute['translated']}}</td>
            <td>{{ gettext('The attribute value is subject to translation') }}</td>
          </tr>
          <tr>
            <th>{{ gettext('Historicised') }}</th>
            <td>{{ attribute['historicised']}}</td>
            <td>{{ gettext("The history for this attribute's value is preserved") }}</td>
          </tr>
          <tr>
            <th>{{ gettext('Repeated') }}</th>
            <td>{{ attribute['repeated'] }}</td>
            <td>{{ gettext('This attribute is repeated multiple times') }}</td>
          </tr>
          <tr>
            <th>{{ gettext('Encrypted') }}</th>
            <td>{{ attribute['encrypted'] }}</td>
            <td>{{ gettext('This attribute is encrypted') }}</td>
          </tr>
          <tr>
            <th>{{ gettext('Domain') }}</th>
            <td>
              {% if attribute.get('domain') and not 'DER' in attribute['domain']['origin'] %}
              {{ util.soft_link(attribute.get('domain')) }}
              {% endif %}
            </td>
            <td></td>
          </tr>
          <tr>
            <th>{{ gettext('Development status') }}</th>
            <td>
              {{ attribute['devstatus'] }}
            </td>
            <td><td>{{ gettext("Development maturity of this attribute") }}</td></td>
          </tr>
        </tbody>
      </table>
    </ac:layout-cell>
    <ac:layout-cell>
      {% include 'international.templ.html' %}
      <p style="text-align: right;">
        <img width="50px" align="right" src="http://res.cloudinary.com/foryouandyourcustomers/image/upload/fyayc_icon_library/svg/0765.svg" />
      </p>
    </ac:layout-cell>
  </ac:layout-section>
  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>{{ gettext('Columns') }}</h1>
      <p>{{ gettext('The attribute is linked with the following columns:') }}</p>
      <table class="relative-table" style="width: 100%;">
        <tbody>
        <tr>
          <th>{{ gettext('System') }}</th>
          <th>{{ gettext('Table') }}</th>
          <th>{{ gettext('Column') }}</th>
        </tr>
        {% for other_key in util.attribute_lineage(key) %}
        {% set other = data['columns'][other_key] %}
        <tr>
          <td>{{ util.soft_link(other['interface-id+']) }}</td>
          <td>{{ util.soft_link(other['table-id']) }}</td>
          <td>{{ util.soft_link(other_key) }}</td>
        </tr>
        {% endfor %}
        </tbody></table>
    </ac:layout-cell>
  </ac:layout-section>
  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>{{ gettext('Diagrams') }}</h1>
      <table class="relative-table" style="width: 100%;">
        <tbody>
        <tr>
          <th>{{ gettext('Diagram') }}</th>
        </tr>
        {% for diagram in attribute['diagrams'] %}
        <tr>
          <td>{{ util.soft_link(diagram) }}</td>
        </tr>
        {% endfor %}
        </tbody></table>
    </ac:layout-cell>
  </ac:layout-section>
  {% include 'footer.templ.html' %}
</ac:layout>
