<!-- this is the Confluence page content template for IM:Attribute to be rendered using jinja2 -->
{% set attribute = item %}
<ac:layout>
  {% include 'header.templ.html' %}
  <ac:layout-section ac:type="two_right_sidebar">
    <ac:layout-cell>
      <p>{{util.translate(attribute['descr'])}}</p>
      <table class="relative-table" style="width: 100%;">
        <tbody>
          <tr>
            <th>Type</th>
            <td>{{attribute['basedatatype+']}}</td>
          </tr>
          <tr>
            <th>Basistyp</th>
            <td>{{attribute['type+']}}</td>
          </tr>
          <tr>
            <th>Entität</th>
            <td>{% if attribute['entity'] %}<ac:link><ri:page ri:content-title="{{util.page_title(attribute['entity'])}}" /><![CDATA[{{util.page_title(attribute['entity'])}}]]></ac:link>{% endif %}</td>
          </tr>
          <tr>
            <th>Mandatory</th>
            <td>{{attribute['mandatory']}}</td>
          </tr>
        </tbody>
      </table>
    </ac:layout-cell>
    <ac:layout-cell>
      <img width="50px" align="right" src="https://res.cloudinary.com/foryouandyourcustomers/image/upload/v1614271504/fyayc_icon_library/svg/Tangible%20Objects/f-icon_object_0765_spare-part.svg" />
    </ac:layout-cell>
  </ac:layout-section>
  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>Diagrams</h1>
      <table class="relative-table" style="width: 100%;">
        <tbody>
        <tr>
          <th>Diagram</th>
        </tr>
        {% for diagram in attribute['diagrams'] %}
        <tr>
          <td>{{diagram}}</td>
        </tr>
        {% endfor %}
        </tbody></table>
    </ac:layout-cell>
  </ac:layout-section>
  <ac:layout-section ac:type="single">
    <ac:layout-cell><p>ID: {{key}}</p></ac:layout-cell>
  </ac:layout-section>
</ac:layout>
