<!-- this is the Confluence page content template for IM:Column to be rendered using jinja2 -->
{% set column = item %}
<ac:layout>
  {% include 'header.templ.html' %}
  <ac:layout-section ac:type="two_right_sidebar">
    <ac:layout-cell>
      <h1>{{ gettext('Spalte %(name)s [Datenmodell]', name=util.translate(column['name'])) }}</h1>
      <p>{{ util.translate_text(column['descr']) }}</p>
      <table class="relative-table" style="width: 100%;">
        <tbody>
          <tr>
            <th>{{ gettext('Name') }}</th>
            <td>{{ column['name'] }}</td>
          </tr>
          <tr>
            <th>{{ gettext('Tabelle') }}</th>
            <td>{{ util.soft_link(column.get('table-id')) }}</td>
          </tr>
          <tr>
            <th>{{ gettext('Datatype') }}</th>
            <td>{{ column['datatype'] }}</td>
          </tr>
          <tr>
            <th>{{ gettext('Basetype') }}</th>
            <td>{{ column['basedatatype+'] }}</td>
          </tr>
          <tr>
            <th>{{ gettext('Type') }}</th>
            <td>{{ column['datatypeid+'] }}</td>
          </tr>
          <tr>
            <th>{{ gettext('Format') }}</th>
            <td>{{ column['format'] }}</td>
          </tr>
          <tr>
            <th>{{ gettext('Domain') }}</th>
            <td>
              {% if column.get('domain') %}
              {{ util.soft_link(column.get('domain')) }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ gettext('Column ID') }}</th>
            <td>{{ column['interface_col_id'] }}</td>
          </tr>
        </tbody>
      </table>
    </ac:layout-cell>
    <ac:layout-cell>
      {% include 'international.templ.html' %}
      <p style="text-align: right;">
        <img width="50px" align="right" src="https://res.cloudinary.com/foryouandyourcustomers/image/upload/v1614271859/fyayc_icon_library/svg/Business%20Organisation/f-icon_organisation_0773_characteristic.svg" />
      </p>
    </ac:layout-cell>
  </ac:layout-section>

  {% if config.get('manual-documentation') %}
  {% set child_title = util.lang_specific(util.page_title(key) + config['manual-documentation'].get('title-postfix', ' - Dokumentation')) %}
  {% macro content() -%}
    {% include config['manual-documentation']['template'] %}
  {%- endmacro %}
  {% set child = util.stub(key + '-md', child_title, util.page_for_key(key)['pageid'], content=content(), labels=config['manual-documentation'].get('labels', ['manual'])) %}

  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <p>
        <ac:structured-macro ac:macro-id="eb891189-be96-4a41-9d8a-328a335a125c" ac:name="tip" ac:schema-version="1">
          <ac:parameter ac:name="title">Hinweis</ac:parameter>
          <ac:rich-text-body>Der folgende Abschnitt bis zur Trennlinie enthält die manuelle Dokumentation. Der Inhalt wird auf der Subpage <ac:link><ri:page ri:content-title="{{child_title}}" /><![CDATA[{{child_title}}]]></ac:link> gepflegt.</ac:rich-text-body>
        </ac:structured-macro>
      </p>
      <p>
        <ac:structured-macro ac:macro-id="315d5e59-c232-4f16-a6e4-e2fe90f52dac" ac:name="include" ac:schema-version="1">
          <ac:parameter ac:name="">
            <ac:link>
              <ri:page ri:content-title="{{child_title}}"/>
            </ac:link>
          </ac:parameter>
        </ac:structured-macro>
      </p>
      <hr/>
    </ac:layout-cell>
  </ac:layout-section>
  {% endif %}

  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>{{ gettext('IM Attributes') }}</h1>
      <p>{{ gettext('The following attributes of the Information Model are linked with this column:') }}</p>
      <p>
      <table class="relative-table" style="width: 100%;">
        <tbody>
        <tr>
          <th>{{ gettext('Attribute') }}</th>
        </tr>
        {% for attribute_key in column['attributesmapped'] %}
        <tr>
          <td>{{ util.soft_link(attribute_key) }}</td>
        </tr>
        {% endfor %}
        </tbody></table>
      </p>
    </ac:layout-cell>
  </ac:layout-section>

  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>{{ gettext('Data Lineage') }}</h1>
      <p>{{ gettext('Columns linked with the same IM attribute:') }}</p>
      <p>
      <table class="relative-table" style="width: 100%;">
        <tbody>
        <tr>
          <th>{{ gettext('System') }}</th>
          <th>{{ gettext('Table') }}</th>
          <th>{{ gettext('Column') }}</th>
        </tr>
        {% for other_key in util.column_lineage(key) %}
        {% set other = data['columns'][other_key] %}
        <tr>
          <td>{{ util.soft_link(other['interface-id+']) }}</td>
          <td>{{ util.soft_link(other['table-id']) }}</td>
          <td>{{ util.soft_link(other_key) }}</td>
        </tr>
        {% endfor %}
        </tbody></table>
      </p>
    </ac:layout-cell>
  </ac:layout-section>

  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>{{ gettext('Document references') }}</h1>
      <p>{{ gettext('This column is linked with the following documents:') }}</p>
      <p>
        <table class="relative-table" style="width: 100%;">
          <tbody>
          <tr>
            <th>{{ gettext('Document') }}</th>
          </tr>
          {% for document in column['refindocuments+'] %}
          <tr>
            <td>{{ util.soft_link(document) }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </p>
    </ac:layout-cell>
  </ac:layout-section>
  {% include 'footer.templ.html' %}
</ac:layout>
