<!-- this is the Confluence page content template for IM:entity to be rendered using jinja2 -->
{% set diagram = item %}
<ac:layout>
  {% include 'header.templ.html' %}
  <ac:layout-section ac:type="two_right_sidebar">
    <ac:layout-cell>
      <h1>{{ gettext('Diagram %(name)s', name=util.translate(diagram['name'])) }}</h1>
    </ac:layout-cell>
    <ac:layout-cell>
      {% include 'international.templ.html' %}
      <p>
        <img width="50px" align="right" src="https://res.cloudinary.com/foryouandyourcustomers/image/upload/fyayc_icon_library/svg/Training%20Icons/Informationsmodell.svg"/>
      </p>
    </ac:layout-cell>
  </ac:layout-section>
  {% include 'footer.templ.html' %}
</ac:layout>
