<!-- this is the Confluence page content template for IM:entity to be rendered using jinja2 -->
{% set diagram = item %}
<ac:layout>
  {% include 'header.templ.html' %}
  <ac:layout-section ac:type="two_right_sidebar">
    <ac:layout-cell>
      <h1>{{ gettext('Diagram %(name)s', name=util.translate(diagram['name'])) }}</h1>
    </ac:layout-cell>
    <ac:layout-cell>
      {% include 'international.templ.html' %}
      <p>
        <img width="50px" align="right" src="http://res.cloudinary.com/foryouandyourcustomers/image/upload/fyayc_icon_library/svg/9005.svg"/>
      </p>
    </ac:layout-cell>
  </ac:layout-section>
  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <p>
        {% set diag = page['diagram'] %}
        <ac:structured-macro ac:name="drawio" ac:schema-version="1"
                             ac:macro-id="57ff23e8-c8cf-47b7-b07b-adfe09c58699">
          <ac:parameter ac:name="border">false</ac:parameter>
          <ac:parameter ac:name="diagramName">{{diag['file']}}</ac:parameter>
          <ac:parameter ac:name="simpleViewer">false</ac:parameter>
          <ac:parameter ac:name="width"/>
          <ac:parameter ac:name="links">blank</ac:parameter>
          <ac:parameter ac:name="tbstyle">inline</ac:parameter>
          <!-- ac:parameter ac:name="pageId">153154358</ac:parameter -->
          <ac:parameter ac:name="diagramDisplayName">{{util.translate(diagram['name'])}}</ac:parameter>
          <ac:parameter ac:name="lbox">true</ac:parameter>
          <!--<ac:parameter ac:name="diagramWidth">610</ac:parameter>-->
          <ac:parameter ac:name=""/>
        </ac:structured-macro>
      </p>
    </ac:layout-cell>
  </ac:layout-section>
  {% include 'footer.templ.html' %}
</ac:layout>
