<!-- this is the Confluence page content template for IM:entity to be rendered using jinja2 -->
{% set domain = item %}
<ac:layout>
    {% include 'header.templ.html' %}
    <ac:layout-section ac:type="two_right_sidebar">
        <ac:layout-cell>
            <p>{{ gettext('Domain %(name)s', name=util.translate(domain['descr'])) }}</p>
            <p>
            <table>
                <colgroup>
                    <col style="width: 30%;"/>
                    <col style="width: 70%;"/>
                </colgroup>
                <tr>
                    <th>{{ gettext('Domain name') }}</th>
                    <td>{{ util.translate(domain['name']) }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('System') }}</th>
                    <td>{{ util.translate(domain['displdatatype+']) }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('Type') }}</th>
                    <td>{{ domain['type'] }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('Type description') }}</th>
                    <td>{{ util.translate(domain['datatypestr+']) }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('Basetype') }}</th>
                    <td>{{ domain['basedatatype+'] }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('ID') }}</th>
                    <td>{{ domain['datatypeid'] }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('Format') }}</th>
                    <td>{{ domain['format+'] }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('Format ID') }}</th>
                    <td>{{ domain['formatid'] }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('Minimum') }}</th>
                    <td>{{ domain['minvalue'] }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('Maximum') }}</th>
                    <td>{{ domain['maxvalue'] }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('Granularity') }}</th>
                    <td>{{ domain['granularity'] }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('Granularity description') }}</th>
                    <td>{{ util.translate(domain['granularitytext+']) }}</td>
                </tr>
                <tr>
                    <th>{{ gettext('Source') }}</th>
                    <td>{{ domain['origin'] }}</td>
                </tr>
            </table>
            </p>
        </ac:layout-cell>
        <ac:layout-cell>
            <img width="50px" align="right" src="https://res.cloudinary.com/foryouandyourcustomers/image/upload/v1614271490/fyayc_icon_library/svg/Tangible%20Objects/f-icon_object_0551_temperature.svg"/>
        </ac:layout-cell>
    </ac:layout-section>
    <ac:layout-section ac:type="single">
        <ac:layout-cell>
            <h1>{{ gettext('Linked attributes') }}</h1>
            <table class="relative-table" style="width: 100%;">
                <tbody>
                <tr>
                    <th>{{ gettext('Entity') }}</th>
                    <th>{{ gettext('Attribute') }}</th>
                </tr>
                {% for attribute_key in domain['usedinattrs+'] %}
                {% set attribute = data['attributes'][attribute_key] %}
                <tr>
                    <td>{{ util.soft_link(attribute['entity']) }}</td>
                    <td>{{ util.soft_link(attribute_key) }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </ac:layout-cell>
    </ac:layout-section>
    <ac:layout-section ac:type="single">
        <ac:layout-cell>
            <h1>{{ gettext('Linked columns') }}</h1>
            <table class="relative-table" style="width: 100%;">
                <tbody>
                <tr>
                    <th>{{ gettext('Table') }}</th>
                    <th>{{ gettext('Column') }}</th>
                </tr>
                {% for column_key in domain['usedincols+'] %}
                {% set column = data['columns'][column_key] %}
                <tr>
                    <td>{{ util.soft_link(column['table-id']) }}</td>
                    <td>{{ column_key }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </ac:layout-cell>
    </ac:layout-section>
    {% include 'footer.templ.html' %}
</ac:layout>
