<!-- this is the Confluence page content template for IM:entity to be rendered using jinja2 -->
{% set domain = item %}
<ac:layout>
    {% include 'header.templ.html' %}
    <ac:layout-section ac:type="two_right_sidebar">
        <ac:layout-cell>
            <p>{{ util.translate(domain['descr']) }}</p>
            <p>
            <table>
                <colgroup>
                    <col style="width: 30%;"/>
                    <col style="width: 70%;"/>
                </colgroup>
                <tr>
                    <th>Domänenname</th>
                    <td>{{ util.translate(domain['name']) }}</td>
                </tr>
                <tr>
                    <th>System</th>
                    <td>{{ util.translate(domain['displdatatype+']) }}</td>
                </tr>
                <tr>
                    <th>Typ</th>
                    <td>{{ domain['type'] }}</td>
                </tr>
                <tr>
                    <th>Typbezeichnung</th>
                    <td>{{ util.translate(domain['datatypestr+']) }}</td>
                </tr>
                <tr>
                    <th>Basistyp</th>
                    <td>{{ domain['basedatatype+'] }}</td>
                </tr>
                <tr>
                    <th>ID</th>
                    <td>{{ domain['datatypeid'] }}</td>
                </tr>
                <tr>
                    <th>Format</th>
                    <td>{{ domain['format+'] }}</td>
                </tr>
                <tr>
                    <th>Format ID</th>
                    <td>{{ domain['formatid'] }}</td>
                </tr>
                <tr>
                    <th>Minimum</th>
                    <td>{{ domain['minvalue'] }}</td>
                </tr>
                <tr>
                    <th>Maximum</th>
                    <td>{{ domain['maxvalue'] }}</td>
                </tr>
                <tr>
                    <th>Granularität</th>
                    <td>{{ domain['granularity'] }}</td>
                </tr>
                <tr>
                    <th>Beschreibung Granularität</th>
                    <td>{{ util.translate(domain['granularitytext+']) }}</td>
                </tr>
                <tr>
                    <th>Quelle</th>
                    <td>{{ domain['origin'] }}</td>
                </tr>
            </table>
            </p>
        </ac:layout-cell>
        <ac:layout-cell>
            <img width="50px" align="right" src="https://res.cloudinary.com/foryouandyourcustomers/image/upload/v1614271490/fyayc_icon_library/svg/Tangible%20Objects/f-icon_object_0551_temperature.svg"/>
        </ac:layout-cell>
    </ac:layout-section>
    <ac:layout-section ac:type="single">
        <ac:layout-cell>
            <h1>Verknüpfte Attribute</h1>
            <table class="relative-table" style="width: 100%;">
                <tbody>
                <tr>
                    <th>Entity</th>
                    <th>Attribute</th>
                </tr>
                {% for attribute_key in domain['usedinattrs+'] %}
                {% set attribute = data['attributes'][attribute_key] %}
                <tr>
                    <td>
                        <ac:link>
                            <ri:page ri:content-title="{{util.page_title(attribute['entity'])}}"/>
                            <![CDATA[{{util.page_title(attribute['entity'])}}]]>
                        </ac:link>
                    </td>
                    <td>
                        <ac:link>
                            <ri:page ri:content-title="{{util.page_title(attribute_key)}}"/>
                            <![CDATA[{{util.page_title(attribute_key)}}]]>
                        </ac:link>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </ac:layout-cell>
    </ac:layout-section>
    <ac:layout-section ac:type="single">
        <ac:layout-cell>
            <h1>Verknüpfte Spalten</h1>
            <table class="relative-table" style="width: 100%;">
                <tbody>
                <tr>
                    <th>Tabelle</th>
                    <th>Spalte</th>
                </tr>
                {% for column_key in domain['usedincols+'] %}
                {% set column = data['columns'][column_key] %}
                <tr>
                    <td>
                        <ac:link>
                            <ri:page ri:content-title="{{util.page_title(column['table-id'])}}"/>
                            <![CDATA[{{ util.page_title(column['table-id']) }}]]>
                        </ac:link>
                    </td>
                    <td>{{column_key}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </ac:layout-cell>
    </ac:layout-section>
    {% include 'footer.templ.html' %}
</ac:layout>
