<!-- this is the Confluence page content template for IM:entity to be rendered using jinja2 -->
{% set entity = item %}
<ac:layout>
  {% include 'header.templ.html' %}
  <ac:layout-section ac:type="two_right_sidebar">
    <ac:layout-cell>
      <h1>{{ gettext('Entity %(name)s [Information Model]', name=util.translate(entity['name'])) }}</h1>
      <p>{{ util.translate(entity['descr']) }}</p>
      <h2>{{ gettext('Synonyms') }}</h2>
      <p>{% for syno in entity['synonyms'] %}{{ syno[util.language] }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
      <p>

      </p>
    </ac:layout-cell>
    <ac:layout-cell>
      {% include 'international.templ.html' %}
      <p>
        {{ util.entity_icon(entity) }}
      </p>
    </ac:layout-cell>
  </ac:layout-section>
  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>{{ gettext('Attributes') }}</h1>
      <table class="relative-table" style="width: 100%;">
      <tbody>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th></th>
          <th></th>
        </tr>
        {% for attribute_key in entity['attributes+'] %}
        <tr>
          <td>{{ util.soft_link(attribute_key) }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody></table>
    </ac:layout-cell>
  </ac:layout-section>
  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>{{ gettext('Relations') }}</h1>
      <table class="relative-table" style="width: 100%;">
        <colgroup>
          <col style="width: 10.0%;"/>
          <col style="width: 20.0%;"/>
          <col style="width: 5.0%;"/>
          <col style="width: 20.4773%;"/>
          <col/>
        </colgroup>
        <tbody>
          <tr>
            <th>{{ gettext('Type') }}</th>
            <th>{{ gettext('Cardinality') }}</th>
            <th>{{ gettext('Relation') }}</th>
            <th class="highlight-grey" colspan="1" data-highlight-colour="grey" title="Background colour : Grey"></th>
            <th>{{ gettext('Relation') }}</th>
            <th>{{ gettext('Cardinality') }}</th>
            <th>{{ gettext('Linked entity') }}</th>
          </tr>
          {% for relation in entity['relations+'] %}
          {% set other_end = util.relation_other(key, relation) %}
          <tr>
            <td>{{ data['relations'][relation]['type'] }}</td>
            <td>{{ util.relation_self(key, relation)['cardstr'] }}</td>
            <td>{{ util.translate(util.relation_self(key, relation)['assoc']) }}</td>
            <td class="highlight-grey" colspan="1" data-highlight-colour="grey" title="Background colour : Grey"></td>
            <td>{{ util.translate(other_end['assoc']) }}</td>
            <td>{{ other_end['cardstr'] }}</td>
            <td><p><ac:link><ri:page ri:content-title="{{util.page_title(other_end['enti'])}}" /><![CDATA[{{ util.page_title(other_end['enti']) }}]]></ac:link></p></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </ac:layout-cell>
  </ac:layout-section>


  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>{{ gettext('Supertypes') }}</h1>
      <ul>{% for supertype in entity['supertypes'] %}
        <li>{{ util.soft_link(supertype) }}</li>
        {% endfor %}</ul>
    </ac:layout-cell>
  </ac:layout-section>

  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>{{ gettext('Diagrams') }}</h1>
      <table class="relative-table" style="width: 100%;">
      <tbody>
        <tr>
          <th>{{ gettext('Diagram') }}</th>
        </tr>
        {% for diagram in entity['diagrams'] %}
        <tr>
          <td>{{diagram}}</td>
        </tr>
        {% endfor %}
      </tbody></table>
    </ac:layout-cell>
  </ac:layout-section>
  {% include 'footer.templ.html' %}
</ac:layout>
