<!-- this is the Confluence page content template for IM:entity to be rendered using jinja2 -->
<ac:layout>
  {% include 'header.templ.html' %}
  <ac:layout-section ac:type="two_right_sidebar">
    <ac:layout-cell>
      <p>{{ util.translate(entity['descr']) }}</p>
      <h2>Synonyms</h2>
      <p>{% for syno in entity['synonyms'] %}{{ syno[util.language] }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
      <p>
      Technical key: {{key}}
      </p>
    </ac:layout-cell>
    <ac:layout-cell>
      <img width="50px" align="right" src="https://res.cloudinary.com/foryouandyourcustomers/image/upload/v1614270611/fyayc_icon_library/svg/ChannelOverview/f-icon_channeloverview_0526_book-ebook.svg" />
    </ac:layout-cell>
  </ac:layout-section>
  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>Attribute</h1>
      <table class="relative-table" style="width: 100%;">
      <tbody>
        <tr>
        <th>Name</th>
        <th>Type</th>
        <th><br /></th>
        <th><br /></th></tr>
        {% for attribute in entity['attributes'] %}
        <tr>
          <td><p><ac:link><ri:page ri:content-title="{{util.page_title(attribute)}}" /><![CDATA[{{ util.page_title(attribute) }}]]></ac:link></p></td>
          <td></td>
          <td><br/></td>
          <td><br/></td>
        </tr>
        {% endfor %}
      </tbody></table>
    </ac:layout-cell>
  </ac:layout-section>
  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>Relationen</h1>
      <table class="relative-table" style="width: 100%;">
        <colgroup>
          <col style="width: 10.0%;"/>
          <col style="width: 20.0%;"/>
          <col style="width: 5.0%;"/>
          <col style="width: 20.4773%;"/>
          <col/>
        </colgroup>
        <tbody>
          <tr>
            <th>Type</th>
            <th>Kardinalität</th>
            <th>Beziehung</th>
            <th class="highlight-grey" colspan="1" data-highlight-colour="grey" title="Background colour : Grey"></th>
            <th>Beziehung</th>
            <th>Kardinalität</th>
            <th>Verbundene Entität</th>
          </tr>
          {% for relation in entity['relations'] %}
          {% set other_end = util.relation_other(key, relation) %}
          <tr>
            <td>{{data['relations'][relation]['type']}}</td>
            <td>{{util.relation_self(key, relation)['cardstr']}}</td>
            <td>{{util.translate(util.relation_self(key, relation)['assoc'])}}</td>
            <td class="highlight-grey" colspan="1" data-highlight-colour="grey" title="Background colour : Grey"></td>
            <td>{{util.translate(other_end['assoc'])}}</td>
            <td>{{other_end['cardstr']}}</td>
            <td><p><ac:link><ri:page ri:content-title="{{util.page_title(other_end['enti'])}}" /><![CDATA[{{util.page_title(other_end['enti'])}}]]></ac:link></p></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </ac:layout-cell>
  </ac:layout-section>


  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>Supertypes</h1>
      <ul>{% for supertype in entity['supertypes'] %}
        <li><ac:link><ri:page ri:content-title="{{util.page_title(supertype)}}" /><![CDATA[{{ util.page_title(supertype) }}]]></ac:link></li>
        {% endfor %}</ul>
    </ac:layout-cell>
  </ac:layout-section>

  <ac:layout-section ac:type="two_right_sidebar">
    <ac:layout-cell>
      <h1>Metadata</h1>
    </ac:layout-cell>
    <ac:layout-cell>
      <h1>Diagrams</h1>
      <table class="relative-table" style="width: 100%;">
      <tbody>
        <tr>
          <th>Diagram</th>
        </tr>
        {% for diagram in entity['diagrams'] %}
        <tr>
          <td>{{ diagram }}</td>
          <!-- td><p><ac:link><ri:page ri:content-title="{{ util.translate( diagram['name'] ) }}" /><![CDATA[{{ diagram }}]]></ac:link></p></td -->
        </tr>
        {% endfor %}
      </tbody></table>
    </ac:layout-cell>
  </ac:layout-section>
</ac:layout>
