
<p class="auto-cursor-target"><br /></p><ac:structured-macro ac:name="tip" ac:schema-version="1" ac:macro-id="eb891189-be96-4a41-9d8a-328a335a125c"><ac:parameter ac:name="title">Hinweis</ac:parameter><ac:rich-text-body>Dies ist die manuell gepflegte Dokumentation. <br />Der Inhalt wird auf der Subpage&nbsp;<ac:link /> gepflegt</ac:rich-text-body></ac:structured-macro>
<p>Lorem ipsum ...</p>
<h1>Transaktionen</h1>
<ul>
    <li><a href="https://geberit.sharepoint.com/:x:/r/teams/tea0084/Shared%20Documents/MDM%20Manual%20Deutsch/200%20MDM%20Arbeitsbeschriebe%20intern/040%20Transaktionscodes_Tabellen_Reports/MDM_SAP-Transaktionen_Tabellen.xlsx?d=w4d3ee8d6964c43f0b8ae25a5bf9e6512&amp;csf=1&amp;web=1&amp;e=aEGKx6">ZM_123</a></li>
    <li><a href="https://geberit.sharepoint.com/:x:/r/teams/tea0084/Shared%20Documents/MDM%20Manual%20Deutsch/200%20MDM%20Arbeitsbeschriebe%20intern/040%20Transaktionscodes_Tabellen_Reports/MDM_SAP-Transaktionen_Tabellen.xlsx?d=w4d3ee8d6964c43f0b8ae25a5bf9e6512&amp;csf=1&amp;web=1&amp;e=aEGKx6">MM3</a></li></ul>
<h1>Data Checks</h1>
<p><a href="https://geberit.sharepoint.com/:w:/r/teams/tea0084/Shared%20Documents/MDM%20Manual%20Deutsch/060%20DQM/020%20Business%20Rules%20Descriptions/030%20Compare%20System/DQM_CHECKS_GUIDELINE_Compare_Systems.docx?d=wbede2c5929c34d95be7e649030439139&amp;csf=1&amp;web=1&amp;e=kIGgku"> M123_45</a></p>
<p>Zur generierten Dokumentation (Parent) <ac:link><ri:page ri:content-title="{{util.page_title(key)}}" /><ac:plain-text-link-body><![CDATA[{{util.page_title(key)}}]]></ac:plain-text-link-body></ac:link>.</p>