<!-- this is the Confluence page content template for IM:entity to be rendered using jinja2 -->
{% set system = item %}
<ac:layout>
  {% include 'header.templ.html' %}
  <ac:layout-section ac:type="two_right_sidebar">
    <ac:layout-cell>
      <h1>System {{ system['name'] }} [Datenmodell]</h1>
      <p>{{ util.translate(system['descr']) }}</p>
    </ac:layout-cell>
    <ac:layout-cell>
      {{ util.translation_links(key) }}
      <p style="text-align: right;">
        <img width="50px" align="right" src="https://res.cloudinary.com/foryouandyourcustomers/image/upload/v1614271408/fyayc_icon_library/svg/Tangible%20Objects/f-icon_object_0148_jenga.svg"/>
      </p>
    </ac:layout-cell>
  </ac:layout-section>
  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>Tables</h1>
      <table class="relative-table" style="width: 100%;">
      <tbody>
        <tr>
          <th>Name</th>
          <th># Columns</th>
          <th>Linked Entities</th>
        </tr>
        {% for table_key in system['tables+'] %}
        {% set table = data['tables'][table_key] %}
        <tr>
          <td>{{ util.soft_link(table_key, item_class='tables', title=table['name']) }}</td>
          <td>{{ table['columns+'] | length}}</td>
          <td>
            <ul>
              {% for entity_key in table['entitiesmapped'] %}
              {% set entity = data['entities'][entity_key] %}
              <li>
                {{ util.soft_link(entity_key) }}
              </li>
              {% endfor %}
              </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody></table>
    </ac:layout-cell>
  </ac:layout-section>

  <ac:layout-section ac:type="single">
    <ac:layout-cell><p>ID: {{key}}</p></ac:layout-cell>
  </ac:layout-section>
</ac:layout>
