<!-- this is the Confluence page content template for IM:table to be rendered using jinja2 -->
{% set table = item %}
<ac:layout>
  {% include 'header.templ.html' %}
  <ac:layout-section ac:type="two_right_sidebar">
    <ac:layout-cell>
      <h1>Tabelle {{table['name']}} [Datenmodell]</h1>
      <p>
        <table>
          <colgroup>
            <col style="width: 30%;"/>
            <col style="width: 70%;"/>
          </colgroup>
          <tr>
            <th>Interface Name</th>
            <td>{{table['interface-name+']}}</td>
          </tr>
          <tr>
            <th>System</th>
            <td>{{ util.soft_link(table['interface-id+']) }}</td>
          </tr>
        </table>
      </p>
    </ac:layout-cell>
    <ac:layout-cell>
      {% include 'international.templ.html' %}
      <p style="text-align: right;">
        <img width="50px" align="right" src="https://res.cloudinary.com/foryouandyourcustomers/image/upload/v1614271016/fyayc_icon_library/svg/Objects/f-icon_object_0110_excel-list.svg" />
      </p>
      <p style="text-align: right;">
        <ac:structured-macro ac:macro-id="737597dc-3c50-496b-8631-43e6b435b74a" ac:name="toc" ac:schema-version="1"/>
      </p>
    </ac:layout-cell>
  </ac:layout-section>
  {% if config.get('manual-documentation') %}
  {% set child_title = util.lang_specific(util.page_title(key) + config['manual-documentation'].get('title-postfix', ' - Dokumentation')) %}
  {% macro content() -%}
    {% include config['manual-documentation']['template'] %}
  {%- endmacro %}
  {% set child = util.stub(key + '-md', child_title, util.page_for_key(key)['pageid'], content=content(), labels=config['manual-documentation'].get('labels', ['manual'])) %}
  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <p>
        <ac:structured-macro ac:macro-id="eb891189-be96-4a41-9d8a-328a335a125c" ac:name="tip" ac:schema-version="1">
          <ac:parameter ac:name="title">Hinweis</ac:parameter>
          <ac:rich-text-body>Der folgende Abschnitt bis zur Trennlinie enthält die manuell gepflegte Dokumentation. Der Inhalt wird auf der Subpage <ac:link><ri:page ri:content-title="{{child_title}}" /><![CDATA[{{child_title}}]]></ac:link> gepflegt.</ac:rich-text-body>
        </ac:structured-macro>
      </p>
      <p>
        <ac:structured-macro ac:macro-id="315d5e59-c232-4f16-a6e4-e2fe90f52dac" ac:name="include" ac:schema-version="1">
          <ac:parameter ac:name="">
            <ac:link>
              <ri:page ri:content-title="{{child_title}}"/>
            </ac:link>
          </ac:parameter>
        </ac:structured-macro>
      </p>
      <hr/>
    </ac:layout-cell>
  </ac:layout-section>
  {% endif %}
  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>Spalten</h1>
      <table class="relative-table" style="width: 100%;">
      <tbody>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Type ID</th>
          <th>Domain</th>
        </tr>
        {% for column_key in table['columns+'] %}
        {% set column = data['columns'][column_key] %}
        <tr>
          <td>{{ util.soft_link(column_key) }}</td>
          <td>{{column['datatype']}}</td>
          <td>{{column['datatypeid+']}}</td>
          <td>
            {% if column.get('domain') %}
            {{ util.soft_link(column['domain']) }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody></table>
    </ac:layout-cell>
  </ac:layout-section>

  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>Dokumente</h1>
      <ul>{% for document in table['refindocuments+'] %}
        <li>{{ util.soft_link(document) }}</li>
        {% endfor %}</ul>
    </ac:layout-cell>
  </ac:layout-section>
  {% include 'footer.templ.html' %}
</ac:layout>
