            {% set entiid = elem["entity"] %}
            {% set domaid = elem["domain"] %}
            {% set entiname = webmodel.getlangstr(webmodel.getelem(entiid)["name"]) %}
		    {% call blocks.mainblock(type = webmodel.gettransltext("Attribut"), id=elemid, name = webmodel.getlangstr(elem["name"])
									, descr = webmodel.getlangstr(elem["descr"])
									,parenttype=webmodel.gettransltext("Entität").upper()
									,parentname=webmodel.getreflink(name=entiname,destid=entiid
									                                ,desttype="entities"
									                                ,basedirec=basedirec)|safe
									,subparents=webmodel.getsubentyrefs(attrid=elemid,basedirec=basedirec)|join(', ')|safe
									, lbc=elemid ~ "main"
                                    ,basedirec=basedirec,singlefile=webmodel.export.singlefile) %}

					<h2>Information</h2>
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>{{ webmodel.gettransltext('Technischer Name') }}</th>
										<th>{{ webmodel.gettransltext('Wertebereich') }}</th>
										<th>{{ webmodel.gettransltext('Datentyp') }}</th>
										<th>{{ webmodel.gettransltext('Tooltip') }}</th>
										<th>Zoom levels</th>
										<th>Publ.Status</th>
										<th> {{ webmodel.gettransltext('geändert') }}</th>
									</tr>
									<tr>
										<td class="attribute">{{ getnvl(elem["techname"]) }}</td>
										<td class="attribute">
											{% if domaid %}
											    {% set doma = webmodel.getelem(domaid) %}
											    {% if doma["origin"] == 'DER' %}
											        {{ webmodel.getlangstr(doma["name"]) }}
										    	{% else %}
										      	    {{ webmodel.getreflink(name=webmodel.getlangstr(doma["name"])
										      	                        ,destid=domaid,desttype ="domains"
										      	                        ,basedirec=basedirec)|safe}}
										    	{% endif %}
											{% endif %}
										</td>
										<td class="attribute">{{ elem["type+"] }}</td>
										<td class="attribute">{{ webmodel.getlangstr(elem["tooltip"]) }}</td>
										<td class="attribute">{{ '{} - {}'.format(elem['minzoomlevel'],elem['maxzoomlevel']) }}</td>
										<td class="attribute">{{ getnvl(webmodel.gettransltext(elem['publstatus'])) }}</td> {#Modelelement.longpublstatus(#}
										<td class="attribute">{{ '{}, {}'.format(elem['uc'],elem['dc']) }}</td>
									</tr>
									<tr>
										<th>{{ webmodel.gettransltext('Pflichtattribut') }}</th>
										<th>{{ webmodel.gettransltext('Schlüssel') }}</th>
										<th>{{ webmodel.gettransltext('Deskriptor') }}</th>
										<th>{{ webmodel.gettransltext('übersetzt') }}</th>
										<th>{{ webmodel.gettransltext('wiederholt') }}</th>
										<th>{{ webmodel.gettransltext('historisiert') }}</th>
										<th>{{ webmodel.gettransltext('verschlüsselt') }}</th>
									</tr>
									<tr>
										{{ blocks.tdbool2icon(bool=elem["mandatory"],basedirec=basedirec) }}
										{{ blocks.tdbool2icon(bool=elem["keys+"]|count > 0,basedirec=basedirec) }}
										{{ blocks.tdbool2icon(bool=elem["descriptive"],basedirec=basedirec) }}
										{{ blocks.tdbool2icon(bool=elem["translated"],basedirec=basedirec) }}
										{{ blocks.tdbool2icon(bool=elem["repeated"],basedirec=basedirec) }}
										{{ blocks.tdbool2icon(bool=elem["historisiert"],basedirec=basedirec) }}
										{{ blocks.tdbool2icon(bool=elem["encrypted"],basedirec=basedirec) }}
									</tr>								</tbody>
							</table>
						</div> 
						
					<!--examples-->
					{% if elem["examples"]|count > 0 %}
					{% call blocks.subblock(header=webmodel.gettransltext("Beispiele"), lbc=elemid ~ "expl"
					                        ,basedirec=basedirec) %}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									{% for expl in elem["examples"] %}
									<tr>
										<td>{{ expl[webmodel.curlanguage] | safe}} </td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					{% endcall %}
					{% endif %}

					<!--businessrules-->
					{% if elem["businessrules+"]|count > 0 %}
					{% call blocks.subblock(header=webmodel.gettransltext("Business Rules"), lbc=elemid ~ "refburu"
					                    ,basedirec=basedirec) %}
						{{ blocks.reflist(webmodel,elemid,elem["businessrules+"],basedirec=basedirec) }}
					{% endcall %}
					{% endif %}

					<!--actorroles-->
					{% if elem["raci+"]|count > 0 %}
					{% call blocks.subblock(header=webmodel.gettransltext("Akteurrolle"), lbc=elemid ~ "refraci"
					                    ,basedirec=basedirec) %}
						{{ blocks.reflist(webmodel,elemid,elem["raci+"],basedirec=basedirec) }}
					{% endcall %}
					{% endif %}


					<!--referencedby-->
					{% if elem["referencedby"]|count > 0 %}
					{% call blocks.subblock(header=webmodel.gettransltext("Referenziert von"), lbc=elemid ~ "element"
                            ,basedirec=basedirec) %}
						{{ blocks.refbylist(webmodel,elemid,elem,basedirec=basedirec) }}
					{% endcall %}					
					{% endif %}
					
					<!--user defined properties-->
					{% if elem["userdefprops"]|count > 0 %}
					{% call blocks.subblock(header=webmodel.gettransltext("Benutzerdefinerte Eigenschaften"), lbc=elemid ~ "udp"
					                    ,basedirec=basedirec) %}
					    {{ blocks.userdefproperties(udprs=elem["userdefprops"]) }}
					{% endcall %}
					{% endif %}
					
					<!--mappings-->       
					{% if (elem["columnsmapped+"]|count) > 0 %}
					{% call blocks.subblock(header="Mappings", lbc=elemid ~ "map"
					                    ,basedirec=basedirec) %}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>{{ webmodel.gettransltext('System') }}</th>
										<th>{{ webmodel.gettransltext('Columns') }}</th>
									</tr>
									{% for datmid,val in elem["columnsmapped+"].items() %}
									{% set datm = webmodel.getelem(datmid)%}
									<tr>
										<td>{{ datm["name"] }}</td>
										<td>
											{% for coluid in val %}
											{% set colu = webmodel.getelem(coluid)%}
											{% if loop.index > 1 %} {{ ', ' }} {% endif %}
											{{ webmodel.getreflink(name= colu["table-name+"]+"."+colu["name"],destid=coluid,destdatmid = datmid,
											            desttype="columns",basedirec=basedirec)|safe
											  + " ("+ colu["R/W"]+")" }}
											{% endfor %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div> 
					{% endcall %}
					{% endif %}

					<!--translations-->       
					{% set otherlangs = webmodel.getlanguages(all=False) %}
					{% if (otherlangs|count) > 0 %}
					{% call blocks.subblock(header=webmodel.gettransltext("Übersetzungen"), lbc=elemid ~ "transl",basedirec=basedirec) %}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>{{ webmodel.gettransltext('Element') }} </th>
										{% for lang in otherlangs %}
											<th>{{ lang }}</th>
										{% endfor %}
									</tr>
									<tr>
										<td>{{ webmodel.gettransltext('Name') }}</td>
										{% for lang in otherlangs %}
											<td>{{ webmodel.getreflink(name=elem["name"][lang], destid=elemid, destlang=lang,
                                                                    desttype="attributes",basedirec=basedirec)|safe }}</td>
										{% endfor %}
									</tr>
									<tr>
										<td>{{ webmodel.gettransltext('Tooltip') }}</td>
										{% for lang in otherlangs %}
											<td>{{ getnvl(elem["tooltip"][lang]) }}</td>
										{% endfor %}
									</tr>
									<tr>
										<td>{{ webmodel.gettransltext('Beschreibung') }}</td>
										{% for lang in otherlangs %}
											<td>{{ getnvl(elem["descr"][lang]) }}</td>
										{% endfor %}
									</tr>
									<tr>
										<td>{{ webmodel.gettransltext('Beispiele') }}</td>
										{% for lang in otherlangs %}
											{% set otherlangs = [] %}
										    {% for e in elem["examples"] %}
											{% set otherlangs = otherlangs.append(e[lang]) %}
											{% endfor %}
											<td>{{ '\n'.join(otherlangs)|nvl|formattext|safe }}</td>
										{% endfor %}
									</tr>
								</tbody>
							</table>
						</div> 
					{% endcall %}					
					{% endif %}
					
		{% endcall %}
