{# expected parameters:
	timestamp
	webmodel
#}
{% set company =  "foryouandyourcustomers"  %} {# webmodel.metainfo.company #}
{% set modelname = webmodel.metainfo.modelname  %}
{% set interfacename = webmodel.metainfo.interfacename  %}
{% set title = webmodel.metainfo.modelname  %}
{% set logofilename = "logo.jpg" %}

{% import 'macros.jinja.html' as blocks %}
{% import 'header.jinja.html' as companyheader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="image/imicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/IM.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="header" id="TopBar">
		<p4>{{ company }}</p4>
		<p4>{{ title }}</p4>
		<p5>{{ timestamp }}</p5>
		<img src="image/{{ logofilename }}" alt="{{ company }}" id="LLogo">
	</div>
	<button id="btnF" type="button" class="btn btn-info" data-toggle="modal" data-target="#MobileSearch">
		<img class="icon-filter" alt="filter" src="icons/search.svg">
	</button>
	<div class="container" id="sidebar">
		<div id="toc_list">
			<div class="form-wrapper">
				<form autocomplete="off">
					<div class="form-group">
						<label class="form-label" for="first">search key</label>
						<input id="first" class="form-input" type="text" onkeyup="$d_Find('toc_list',this.value,'a')" />
						<img id="searchclear" class="icon-times" src="icons/cross.svg">
						<img class="icon-search" alt="minus" src="icons/search.svg" id="searcher">
					</div>
				</form>
			</div>
			<p6>Hits:</p6>
			<output id="count"></output>
			<div class="contentView">

				<!--entites-->       
				{% call blocks.listblock(label=webmodel.gettransltext("Entitäten"), id="EntitesL", lbc="barenti") %}
						<ol class="tree" id="EntitesList">
							{% for enti in webmodel.entities %} 
							<li class="obj">{{ webmodel.getreflink(name=enti[1], destid=enti[0]) }}
							{% endfor %}
						</ol>
				{% endcall %}
				
				<!--attributes-->
				{% call blocks.listblock(label=webmodel.gettransltext("Attribute"), id="AttrsL",lbc="barattr") %}
						<ol class="tree" id="AttrsList">
							{% for attr in webmodel.attributes %}
							{% set entiid = webmodel.getelem(attr[0])["entity"] %}
							{% set enti = webmodel.getelem(entiid) %}
							<li class="obj">{{ webmodel.getreflink(name=attr[1] ~ " (" ~ webmodel.getlangstr(enti["name"]) ~ ")", destid=attr[0]) }}
							{% endfor %}
						</ol>
				{% endcall %}
				
				
				<!--domains-->       
				{% if webmodel.domains|count > 0 %}
				{% call blocks.listblock(label=webmodel.gettransltext("Wertebereiche"), id="DomainsL",lbc="bardoma") %}
						<ol class="tree" id="DomainList">
							{% for dom in webmodel.domains %}
							<li class="obj">{{ webmodel.getreflink(name=dom[1],destid=dom[0]) }} 
							{% endfor %}
						</ol>
				{% endcall %}
				{% endif %}

				<!--Documents-->       
				{% if webmodel.documents|count > 0 %}
				{% call blocks.listblock(label=webmodel.gettransltext("Dokumente"), id="DocusL",lbc="bardocu") %}
						<ol class="tree" id="DocusList">
							{% for elem in webmodel.documents %}
							<li class="obj">{{ webmodel.getreflink(name=elem[1],destid=elem[0]) }} 
							{% endfor %}
						</ol>
				{% endcall %}
				{% endif %}

				<!--OrgUnits-->       
				{% if webmodel.orgunits|count > 0 %}
				{% call blocks.listblock(label=webmodel.gettransltext("Org. Einheiten"), id="OrgusL",lbc="barorgu") %}
						<ol class="tree" id="OrguList">
							{% for elem in webmodel.orgunits %}
							<li class="obj">{{ webmodel.getreflink(name=elem[1],destid=elem[0]) }} 
							{% endfor %}
						</ol>
				{% endcall %}
				{% endif %}

				<!--diagrams-->       
				{% if webmodel.diagrams|count > 0 %}
				{% call blocks.listblock(label=webmodel.gettransltext("Diagramme"), id="DiagramL",lbc="bardiag") %}
					<ol class="tree" id="DiagramList">
						{% for elem in webmodel.diagrams %}
							<li class="obj">{{ webmodel.getreflink(name=elem.name,destid=elem.id) }} 
						{% endfor %}
					</ol>
				{% endcall %}
				{% endif %}
				
				<!--Systems-->       
				{% if webmodel.systems|count > 0 %}
				{% call blocks.listblock(label=webmodel.gettransltext("Systeme"), id="IntfL",lbc="barintf") %}
						<ol class="tree" id="IntfList">
							{% for elem in webmodel.systems %}
							<li class="obj">{{ webmodel.getreflink(name=elem[1],destid=elem[0]
								                ,curintfid=None, destintfid=elem[0]) }} 
							{% endfor %}
						</ol>
				{% endcall %}
				{% endif %}

				</div>
			</div>
		</div>
	</div>


	<div class="wrapper">
		<div class="top-container">
            <p3 class="descr">This website contains the complete content 
			of the <p2 class="IM">{{ modelname }} - {{ interfacename }}</p2> from {{ company }}. 
            This page was created with software from <p2 class="fyayc">foryouandyourcustomers</p2>. 
            </p3>
            <br>References in brackets are indirect references:<br>
                 (Table reference) for tables: Indirect linking of a table via an entity to a table in another interface<br>
                 (Column reference): Indirect linking of a column via an attribute to a column  in another interface
                  
		</div>
		<br><hr>


		<!--Entities-->       
		{% for enti in webmodel.entities %}
		{% set elemid = enti[0] %}
		{% set elem = webmodel.getelem (elemid) %}
		{% call blocks.mainblock(type = webmodel.gettransltext("Entität"), id=elemid, name = webmodel.getlangstr(elem["name"])
									, descr = webmodel.getlangstr(elem["descr"]), lbc=elemid ~ "main") %}

{#        synostr = ', '.join(s[lang] for s in elem['synonyms'].values())
        diagstr = ', '.join(href(ref="{}-{}".format(d, enti['anker'])
                                    , anz=getelement(d)['name']) for d in elem['diagrams+'])
        infovalues = (parameters.nvl(synostr), parentstr, subtypestr,rolesstr
                      ,'{} - {}'.format(elem['minzoomlevel'],elem['maxzoomlevel']),Modelelement.longdevstatus(elem['devstatus'])
                      , diagstr, 
#}
					<h2>Information</h2>
					<div class="table-responsive">
						<table class="table borderless">
							<tbody>
								<tr>
									<th>{{ webmodel.gettransltext('Synonyme') }}</th>									
									<th>{{ webmodel.gettransltext('Superentitäten') }}</th>
									<th>{{ webmodel.gettransltext('Subentitäten') }}</th>
									<th>{{ webmodel.gettransltext('Rollen') }}</th>
									<th>Zoom levels</th>
									<th>Dev. Status</th>
									<th>{{ webmodel.gettransltext('auf Diagramm(en)') }}</th>
									<th> {{ webmodel.gettransltext('geändert') }}</th>
								</tr>
								<tr>
									<td class="attribute">
										{% for syno in elem["synonyms"].values() %}
										{% if loop.index > 1 %} {{ ', ' }} {% endif %}
										{{ webmodel.getlangstr(syno) }}
										{% endfor %}
									</td>
									<td class="attribute">
										{{ blocks.elementlist(webmodel=webmodel, elems=elem["supertypes+"]) }}
									</td>
									<td class="attribute">
										{{ blocks.elementlist(webmodel=webmodel, elems=elem["subtypes+"]) }}
									</td>
									<td class="attribute">
										{{ blocks.elementlist(webmodel=webmodel, elems=elem["roles+"]) }}
									</td>
									
									<td class="attribute">{{ '{} - {}'.format(elem['minzoomlevel'],elem['maxzoomlevel']) }}</td>
									<td class="attribute">{{ getnvl(elem['devstatus']) }}</td> {#Modelelement.longdevstatus(#}
									<td class="attribute">{{ x }}</td>
									<td class="attribute">{{ '{}, {}'.format(elem['uc'],elem['dc']) }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<!--attributes-->       
					{% call blocks.subblock(header=webmodel.gettransltext("Attribute"), lbc=elemid ~ "attr") %}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>{{ webmodel.gettransltext('Name') }}</th>
										<th>{{ webmodel.gettransltext('Wertebereich') }}</th>
										<th>{{ webmodel.gettransltext('Typ') }}</th>
										<th>{{ webmodel.gettransltext('Pflichtattribut') }}</th>
										<th>{{ webmodel.gettransltext('Schlüssel') }}</th>
										<th>{{ webmodel.gettransltext('Deskriptor') }}</th>
										<th>{{ webmodel.gettransltext('übersetzt') }}</th>
										<th>{{ webmodel.gettransltext('wiederholt') }}</th>
										<th>{{ webmodel.gettransltext('historisiert') }}</th>
										<th>{{ webmodel.gettransltext('verschlüsselt') }}</th>
									</tr>
									{% for attrid in elem["attributes+"] %}
									{% set elem = webmodel.getelem(attrid) %}
									{% set domaid = elem["domain"] %}
									<tr>
										<td>{{ webmodel.getreflink(name=webmodel.getlangstr(elem["name"]), destid=attrid) }}</td>
										<td> {% if domaid %}
											{% set doma = webmodel.getelem(domaid) %}
											{% if doma["origin"] == 'DER' %}
											{{ webmodel.getlangstr(doma["name"]) }}
											{% else %}
											{{ webmodel.getreflink(name=webmodel.getlangstr(doma["name"]),destid=domaid)}}
											{% endif %}
											{% endif %}
										</td>
										<td>{{ elem["type+"] }}</td>
										{{ blocks.tdbool2icon(elem["mandatory"]) }}
										{{ blocks.tdbool2icon(elem["keys+"]|count == 0) }}
										{{ blocks.tdbool2icon(elem["descriptive"]) }}
										{{ blocks.tdbool2icon(elem["translated"]) }}
										{{ blocks.tdbool2icon(elem["repeated"]) }}
										{{ blocks.tdbool2icon(elem["historisiert"]) }}
										{{ blocks.tdbool2icon(elem["encrypted"]) }}
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div> 
					{% endcall %}
					
					<!--keys-->       
					{% call blocks.subblock(header=webmodel.gettransltext("Schlüssel"), lbc=elemid ~ "keys") %}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>{{ webmodel.gettransltext('Name') }}</th>
										<th>{{ webmodel.gettransltext('Attribute(e)') }}</th>
										<th>{{ webmodel.gettransltext('Beziehung(en)') }}</th>
									</tr>
									{% for keysid in elem["keys+"] %}
									{% set key = webmodel.getelem(keysid) %}
									<tr>
										<td>{{ key["name"] }}</td>
										<td>
											{% for attrid in key["key-elements"]["attributes"] %}
											{% set attr = webmodel.getelem(attrid)%}
											{% if loop.index > 1 %} {{ ', ' }} {% endif %}
											{{ webmodel.getreflink(name= webmodel.getlangstr(attr["name"]),destid=attrid) }}
											{% endfor %}
											
										</td>
										<td>
											{% for relaid in key["key-elements"]["relations"] %}
											{% set rela = webmodel.getelem(relaid)%}
											{% if loop.index > 1 %} {{ ', ' }} {% endif %}
											{{ rela["name"] }}
											{% endfor %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div> 
					{% endcall %}
					
				    <!-- relationships-->
					<div id="{}-container">
				        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
				                version="1.1"  width="200" height="200">
				        <defs id="dmw_defs" >
				        </defs>
						{{ webmodel.getentienviron(elemid)}}
				        </svg>
				    </div>
					
					<!--referencedby-->
					{% if elem["referencedby"]|count > 0 %}
					{% call blocks.subblock(header=webmodel.gettransltext("Referenziert von"), lbc=tablid ~ "ref") %}
						{{ blocks.refbylist(webmodel,elemid,elem) }}
					{% endcall %}					
					{% endif %}
					
					<!--user defined properties-->
					{% if elem["userdefprops"]|count > 0 %}
					{% call blocks.subblock(header=webmodel.gettransltext("Benutzerdefinerte Eigenschaften"), lbc=elemid ~ "udp") %}
					{{ blocks.userdefproperties(udprs=elem["userdefprops"]) }}
					{% endcall %}
					{% endif %}
					
					<!--mappings-->       
					{% if (elem["tablesmapped+"]|count) > 0 %}
					{% call blocks.subblock(header="Mappings", lbc=elemid ~ "map") %}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>{{ webmodel.gettransltext('System') }}</th>
										<th>{{ webmodel.gettransltext('Tabellen') }}</th>
									</tr>
									{% for intfid,val in elem["tablesmapped+"].items() %}
									{% set intf = webmodel.getelem(intfid)%}
									<tr>
										<td>{{ intf["name"] }}</td>
										<td>
											{% for tablid in val %}
											{% set tabl = webmodel.getelem(tablid)%}
											{% if loop.index > 1 %} {{ ', ' }} {% endif %}
											{{ webmodel.getreflink(name= tabl["name"],destid=tablid,destintfid = intfid) }}
											{% endfor %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div> 
					{% endcall %}
					{% endif %}
					
		{% endcall %}
		{% endfor %}

		<!--columns-->        
		{% for col in webmodel.columns %}
		{% set coluid = col[0] %}
		{% set elem = webmodel.getelem (coluid) %}
		{% set tablid = elem["table-id"] %}
		{% set domaid = elem["domain"] %}
		{% call blocks.mainblock(type="Column", id=coluid, name=elem["name"], descr=elem["descr"], lbc=coluid ~ "main"
						 , parent=webmodel.getreflink(name=webmodel.getelem(tablid)["name"],destid=tablid)) %}
					<h2>Information</h2>
					<div class="table-responsive">
						<table class="table borderless">
							<tbody>
								<tr>
									<th>Domain</th>
									<th>Datatype</th>
									<th>Base Type</th>
									<th>Dev. Status</th>
									<th>updated</th>
								</tr>
								<tr>
									<td class="attribute">
										{% if domaid is defined %}
											{% set doma = webmodel.getelem(domaid) %}
											{% if doma["origin"] == 'DER' %}
												{{ webmodel.getlangstr(doma["name"]) }}
											{% else %}
												{{ webmodel.getreflink(name=webmodel.getlangstr(doma["name"]), destid=domaid
															,curintfid=webmodel.getelemintfid(coluid)
														 	,destintfid=webmodel.getelemintfid(domaid)) }}
											{% endif %}
										{% endif %}
										</td>
									<td class="attribute">{{ elem["datatype"] }}</td>
									<td class="attribute">{{ elem["basedatatype+"] }}</td>
									<td class="attribute">{{ elem["devstatus"] }}</td>
									<td class="attribute">{{ "{}, {}".format(elem["uc"],elem["dc"]) }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<!--mappings-->       
					{% if (elem["attributesmapped"]|count) > 0 %}
					{% call blocks.subblock(header="Mappings", lbc=coluid ~ "map") %}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>Model </th>
										<th>Attribute(s) / Column(s)</th>
									</tr>
									<tr>
										<td>Information Model</td>
										<td>
										{% for attrid in elem["attributesmapped"] %}
										{% if loop.index > 1 %} ', ' {% endif %}
										{{ webmodel.getreflink(name=webmodel.getlangstr(webmodel.getelem(attrid)["name"]),destid=attrid
										        ,curintfid=webmodel.getelemintfid(coluid)) }}
										{% endfor %}
									</tr>
								</tbody>
							</table>
						</div> 
					{% endcall %}
					{% endif %}

					<!--user defined properties-->
					{% if elem["userdefprops"]|count > 0 %}
					{% call blocks.subblock(header="User defined properties", lbc=coluid ~ "udp") %}
					{{ blocks.userdefproperties(udprs=elem["userdefprops"]) }}
					{% endcall %}
					{% endif %}

		{% endcall %}
		{% endfor %}

		{% include 'domains.jinja.html' %}

		<!--Documents-->
		{% for docu in webmodel.documents %}
		{% set elemid = docu[0] %}
		{% set elem = webmodel.getelem (elemid) %}
		{% call blocks.mainblock(type=webmodel.gettransltext("Dokumente"), id=elemid, name=elem["name"], descr=elem["descr"], lbc=elemid ~ "main") %}
					<h2>Information</h2>
					<div class="table-responsive">
						<table class="table borderless">
							<tbody>
								<tr>
									<th>{{ webmodel.gettransltext('Format') }}</th>
									<th>{{ webmodel.gettransltext('Referenz') }}</th>
									<th>{{ webmodel.gettransltext('Vaterdokument') }}</th>
									<th>{{ webmodel.gettransltext('Unterdokumente') }}</th>
								</tr>
								<tr>
									<td class="attribute">{{ getnvl(elem["format+"]) }}</td>
									{% set ref = getnvl(elem['reference']) %}
									{% if ref.startswith("http")%}
										<td class="attribute">{{ ref|urlize }}</td>
									{% else %}
										<td class="attribute">{{ ref }}</td>
									{% endif %}
									{% set parentdispl = "" %}
									{% set parentid = elem['parent'] %}
									{% if parentid %}
										{% set parent = webmodel.getelem (parentid) %}
										{% set parentdispl = webmodel.getreflink(name=parent['name'],destid=parentid) %}
									{% endif %}	
									<td class="attribute">{{ parentdispl }}</td>
									
									<td class="attribute">
										{% for child in webmodel.documents %}
										{% set childelem = webmodel.getelem(child[0])%}
										{% if childelem['parent'] == elemid %}
											 {{ webmodel.getreflink(name=childelem['name'],destid=child[0]) +', '}} 
										{% endif %}
										{% endfor %}
								  </td>
									
								</tr>
							</tbody>
						</table>
					</div>
					
					<!--references-->       
					{% if elem|count > 0 %}
					{% call blocks.subblock(header=webmodel.gettransltext("Referenziert"), lbc=elemid ~ "ref") %}
						{{ blocks.referencelist(webmodel,elemid,elem["references+"]) }}
					{% endcall %}
					{% endif %}
					
		{% endcall%}
		{% endfor %}
		
		<!--organisational units-->
		{% for orgu in webmodel.orgunits %}
		{% set elemid = orgu[0] %}
		{% set elem = webmodel.getelem (elemid) %}
		{% call blocks.mainblock(type=webmodel.gettransltext("Org. Einheiten"), id=elemid, name=elem["name"], descr=elem["descr"], lbc=elemid ~ "main") %}
					<h2>Information</h2>
					<div class="table-responsive">
						<table class="table borderless">
							<tbody>
								<tr>
									<th>{{ webmodel.gettransltext('Beschreibung') }}</th>
									<th>{{ webmodel.gettransltext('Mail') }}</th>
									<th>{{ webmodel.gettransltext('Telefon') }}</th>
									<th>{{ webmodel.gettransltext('Adresse') }}</th>
									<th>{{ webmodel.gettransltext('übergeordnet') }}</th>
									<th>{{ webmodel.gettransltext('untergeordnet') }}
								</tr>
								<tr>
									<td class="attribute">{{ getnvl(elem["descr"]) }}</td>
									<td class="attribute">{{ getnvl(elem['mail']) }}</td>
									<td class="attribute">{{ getnvl(elem['telefon']) }}</td>
									<td class="attribute">{{ getnvl(elem['address']) }}</td>
									{% set parentdispl = "" %}
									{% set parentid = elem['parent'] %}
									{% if parentid %}
										{% set parent = webmodel.getelem (parentid) %}
										{% set parentdispl = webmodel.getreflink(name=parent['name'],destid=parentid) %}
									{% endif %}	
									<td class="attribute">{{ parentdispl }}</td>
									{% set children = "" %}
									{% for child in webmodel.orgunits %}
									{% set childelem = webmodel.getelem(child[0])%}
									{% if childelem['parent'] == elemid %}
										{% if children != "" %}
											{% set children = children ~ ', ' %}
										{% endif %}
										{% set children = children ~ webmodel.getreflink(name=childelem['name'],destid=child[0]) %}
									{% endif %}
									{% endfor %}
									<td class="attribute">{{ children }}</td>
									
								</tr>
							</tbody>
						</table>
					</div>
					
					<!--references-->       
					{% if elem|count > 0 %}
					{% call blocks.subblock(header=webmodel.gettransltext("Referenziert"), lbc=elemid ~ "ref") %}
						{{ blocks.referencelist(webmodel,elemid,elem["references+"]) }}
					{% endcall %}
					{% endif %}
					
		{% endcall%}
		{% endfor %}


		<!--diagrams-->
		{% if webmodel.diagrams|count > 0 %}
			{% for diag in webmodel.diagrams %}
				<div id="{{ diag.id }}-container">
					<h3 id="{{ diag.id }}">{{ diag.name }}</h3>
					{{ diag.svg }}
					<div class="print-button-container">
						<button class="print-button" onclick="printElem(this)">print</button>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>

    <div class="modal" id="MobileSearch" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-full" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Filter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeM0">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContent">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeM1">OK</button>
                </div>
            </div>
        </div>
    </div>
	
	{% include "jscode.js" %}
	
</body>
</html>
