{# expected parameters:
	timestamp
	webmodel
#}
{% set company =  "foryouandyourcustomers"  %} {# webmodel.metainfo.company #}
{% set modelname = webmodel.metainfo.modelname  %}
{% set interfacename = webmodel.metainfo.interfacename  %}
{% set title = webmodel.metainfo.modelname  %}
{% set logofilename = "logo.jpg" %}

{% import 'macros.jinja.html' as blocks %}
{% import 'header.jinja.html' as companyheader %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="image/imicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/jscode.js"></script>
    <script src="js/IM.js"></script>
	<script src="js/svg-pan-zoom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" type="image/png" href="images/icons/favicon/favicon-16x16.png?v=2" sizes="16x16">
	<link rel="icon" type="image/png" href="images/icons/favicon/favicon-32x32.png?v=2" sizes="32x32">
	<link rel="icon" type="image/png" href="images/icons/favicon/favicon-96x96.png?v=2" sizes="96x96">
	<link rel="shortcut icon" type="image/x-icon" href="images/icons/favicon/favicon.ico?v=2">
</head>

<body>
	<div class="header" id="TopBar">
		<p4>{{ company }}</p4>
		<p4>{{ title }}</p4>
		<p5>{{ timestamp }}</p5>
		<img src="image/{{ logofilename }}" alt="{{ company }}" id="LLogo">
	</div>
	<button id="btnF" type="button" class="btn btn-info" data-toggle="modal" data-target="#MobileSearch">
		<img class="icon-filter" alt="filter" src="images/icons/search.svg">
	</button>
	<div class="container" id="sidebar">
		<div id="toc_list">
			<div class="form-wrapper">
				<form autocomplete="off">
					<div class="form-group focused">
						<label class="form-label" for="first">search key</label>
						<input id="first" class="form-input" type="text" onkeyup="$d_Find('toc_list',this.value,'a')" />
						<img id="searchclear" class="icon-times" src="images/icons/cross.svg" stype="display: none;">
						<img class="icon-search" alt="minus" src="images/icons/search.svg" id="searcher">
					</div>
				</form>
			</div>
			<p6>Hits:</p6>
			<output id="count"></output>
			<div class="contentView">

				<!--entites-->       
				{% call blocks.listblock(label=webmodel.gettransltext("Entitäten"), id="EntitesL", lbc="barenti") %}
						<ol class="tree" id="EntitesList">
							{% for enti in webmodel.entities %} 
							<li class="obj">{{ webmodel.getreflink(name=enti[1], destid=enti[0]) |safe}}
							{% endfor %}
						</ol>
				{% endcall %}
				
				<!--attributes-->
				{% call blocks.listblock(label=webmodel.gettransltext("Attribute"), id="AttrsL",lbc="barattr") %}
						<ol class="tree" id="AttrsList">
							{% for attr in webmodel.attributes %}
							{% set entiid = webmodel.getelem(attr[0])["entity"] %}
							{% set enti = webmodel.getelem(entiid) %}
							<li class="obj">{{ webmodel.getreflink(name=attr[1] ~ " (" ~ webmodel.getlangstr(enti["name"]) ~ ")", destid=attr[0]) |safe}}
							{% endfor %}
						</ol>
				{% endcall %}

				<!--domains-->       
				{% if webmodel.domains|count > 0 %}
				{% call blocks.listblock(label=webmodel.gettransltext("Wertebereiche"), id="DomainsL",lbc="bardoma") %}
						<ol class="tree" id="DomainList">
							{% for dom in webmodel.domains %}
							<li class="obj">{{ webmodel.getreflink(name=dom[1],destid=dom[0]) |safe}} 
							{% endfor %}
						</ol>
				{% endcall %}
				{% endif %}

				<!--business rules-->
				{% if webmodel.businessrules|count > 0 %}
				{% call blocks.listblock(label=webmodel.gettransltext("Business Rules"), id="BurusL",lbc="barburu") %}
						<ol class="tree" id="BuruList">
							{% for buru in webmodel.businessrules %}
							<li class="obj">{{ webmodel.getreflink(name=buru[1],destid=buru[0]) |safe}}
							{% endfor %}
						</ol>
				{% endcall %}
				{% endif %}

				<!--Documents-->
				{% if webmodel.documents|count > 0 %}
				{% call blocks.listblock(label=webmodel.gettransltext("Dokumente"), id="DocusL",lbc="bardocu") %}
						<ol class="tree" id="DocusList">
							{% for elem in webmodel.documents %}
							<li class="obj">{{ webmodel.getreflink(name=elem[1],destid=elem[0]) |safe}} 
							{% endfor %}
						</ol>
				{% endcall %}
				{% endif %}

				<!--OrgUnits-->       
				{% if webmodel.orgunits|count > 0 %}
				{% call blocks.listblock(label=webmodel.gettransltext("Org. Einheiten"), id="OrgusL",lbc="barorgu") %}
						<ol class="tree" id="OrguList">
							{% for elem in webmodel.orgunits %}
							<li class="obj">{{ webmodel.getreflink(name=elem[1],destid=elem[0]) |safe}} 
							{% endfor %}
						</ol>
				{% endcall %}
				{% endif %}

				<!--ActorRoles-->
				{% if webmodel.actorroles|count > 0 %}
				{% call blocks.listblock(label=webmodel.gettransltext("Akteurrollen"), id="ActrsL",lbc="baractr") %}
						<ol class="tree" id="ActrList">
							{% for elem in webmodel.actorroles %}
							<li class="obj">{{ webmodel.getreflink(name=elem[1],destid=elem[0]) |safe}}
							{% endfor %}
						</ol>
				{% endcall %}
				{% endif %}


				<!--diagrams-->       
				{% if webmodel.diagrams|count > 0 %}
				{% call blocks.listblock(label=webmodel.gettransltext("Diagramme"), id="DiagramL",lbc="bardiag") %}
					<ol class="tree" id="DiagramList">
						{% for elem in webmodel.diagrams %}
							<li class="obj">{{ webmodel.getreflink(name=elem.name,destid=elem.id) |safe}} 
						{% endfor %}
					</ol>
				{% endcall %}
				{% endif %}
				
				<!--Systems-->       
				{% if webmodel.systems|count > 0 %}
				{% call blocks.listblock(label=webmodel.gettransltext("Systeme"), id="IntfL",lbc="barintf") %}
						<ol class="tree" id="IntfList">
							{% for elem in webmodel.systems %}
							<li class="obj">{{ webmodel.getreflink(name=elem[1],destid=elem[0]
								                ,curintfid=None, destintfid=elem[0]) |safe }} 
							{% endfor %}
						</ol>
				{% endcall %}
				{% endif %}

				</div>
			</div>
		</div>
	</div>


	<div class="wrapper">
		{{ companyheader.IMheader(model=webmodel,company=company,language=webmodel.getcurlanguage()) }}
		
		{% include 'entities.jinja.html' %}
		
		{% include 'attributes.jinja.html' %}
		
		{% include 'domains.jinja.html' %}

		<!--business rules-->
		{% for buru in webmodel.businessrules %}
		{% set elemid = buru[0] %}
		{% set elem = webmodel.getelem (elemid) %}
		{% call blocks.mainblock(type=webmodel.gettransltext("Business Rule"), id=elemid, name=webmodel.getlangstr(elem["name"]),
					descr=webmodel.getlangstr(elem["descr"]), lbc=elemid ~ "main") %}
			<h2>Information</h2>
			<div class="table-responsive">
				<table class="table borderless">
					<tbody>
						<tr>
							<th>{{ webmodel.gettransltext('Ebene') }}</th>
							<th>{{ webmodel.gettransltext('Typ') }}</th>
							<th>{{ webmodel.gettransltext('Auswirkung') }}</th>
						</tr>
						<tr>
							<td>{{ elem["level"] }}</td>
							<td>{{ elem["type"] }}</td>
							<td>{{ elem["impact"] }}</td>
						</tr>
					</tbody>
				</table>
				<div class="table-responsive">
					<table class="table borderless" >
						<tbody>
							<tr>
								<td>{{ webmodel.gettransltext('Regel')  }}</td>
								<td>{{ elem["rule"] }}
							</tr>
							<tr>
								<td>{{ webmodel.gettransltext('Fehlermeldung')  }}</td>
								<td>{{ webmodel.getlangstr(elem["errormsg"]) }}
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!--references-->
			{% if elem["elements"]|count > 0 %}
			{% call blocks.subblock(header=webmodel.gettransltext("Referenziert"), lbc=elemid ~ "ref") %}
				{{ blocks.referencelist(webmodel,elemid,elem["elements"]) }}
			{% endcall %}
			{% endif %}

		{% endcall%}
		{% endfor %}

		<!--Documents-->
		{% for docu in webmodel.documents %}
		{% set elemid = docu[0] %}
		{% set elem = webmodel.getelem (elemid) %}
		{% call blocks.mainblock(type=webmodel.gettransltext("Dokumente"), id=elemid, name=elem["name"], descr=elem["descr"], lbc=elemid ~ "main") %}
					<h2>Information</h2>
					<div class="table-responsive">
						<table class="table borderless">
							<tbody>
								<tr>
									<th>{{ webmodel.gettransltext('Format') }}</th>
									<th>{{ webmodel.gettransltext('Referenz') }}</th>
									<th>{{ webmodel.gettransltext('Vaterdokument') }}</th>
									<th>{{ webmodel.gettransltext('Unterdokumente') }}</th>
								</tr>
								<tr>
									<td class="attribute">{{ getnvl(elem["format+"]) }}</td>
									{% set ref = getnvl(elem['reference']) %}
									{% if ref.startswith("http")%}
										<td class="attribute">{{ ref|urlize }}</td>
									{% else %}
										<td class="attribute">{{ ref }}</td>
									{% endif %}
									{% set parentdispl = "" %}
									{% set parentid = elem['parent'] %}
									{% if parentid %}
										{% set parent = webmodel.getelem (parentid) %}
										{% set parentdispl = webmodel.getreflink(name=parent['name'],destid=parentid) |safe%}
									{% endif %}	
									<td class="attribute">{{ parentdispl }}</td>
									
									<td class="attribute">
										{% for child in webmodel.documents %}
										{% set childelem = webmodel.getelem(child[0]) %}
										{% if childelem['parent'] == elemid %}
											 {{ webmodel.getreflink(name=childelem['name'],destid=child[0]) |safe+', '}} 
										{% endif %}
										{% endfor %}
								  </td>
									
								</tr>
							</tbody>
						</table>
					</div>
					
					<!--references-->       
					{% if elem["references+"]|count > 0 %}
					{% call blocks.subblock(header=webmodel.gettransltext("Referenziert"), lbc=elemid ~ "ref") %}
						{{ blocks.referencelist(webmodel,elemid,elem["references+"]) }}
					{% endcall %}
					{% endif %}
					
		{% endcall%}
		{% endfor %}
		
		<!--organisational units-->
		{% for orgu in webmodel.orgunits %}
		{% set elemid = orgu[0] %}
		{% set elem = webmodel.getelem (elemid) %}
		{% call blocks.mainblock(type=webmodel.gettransltext("Org. Einheiten"), id=elemid, name=elem["name"], descr=elem["descr"], lbc=elemid ~ "main") %}
					<h2>Information</h2>
					<div class="table-responsive">
						<table class="table borderless">
							<tbody>
								<tr>
									<th>{{ webmodel.gettransltext('Beschreibung') }}</th>
									<th>{{ webmodel.gettransltext('Mail') }}</th>
									<th>{{ webmodel.gettransltext('Telefon') }}</th>
									<th>{{ webmodel.gettransltext('Adresse') }}</th>
									<th>{{ webmodel.gettransltext('übergeordnet') }}</th>
									<th>{{ webmodel.gettransltext('untergeordnet') }}
								</tr>
								<tr>
									<td class="attribute">{{ getnvl(elem["descr"]) }}</td>
									<td class="attribute">{{ getnvl(elem['mail']) }}</td>
									<td class="attribute">{{ getnvl(elem['telefon']) }}</td>
									<td class="attribute">{{ getnvl(elem['address']) }}</td>
									{% set parentdispl = "" %}
									{% set parentid = elem['parent'] %}
									{% if parentid %}
										{% set parent = webmodel.getelem (parentid) %}
										{% set parentdispl = webmodel.getreflink(name=parent['name'],destid=parentid) |safe%}
									{% endif %}	
									<td class="attribute">{{ parentdispl }}</td>
									{% set children = "" %}
									{% for child in webmodel.orgunits %}
									{% set childelem = webmodel.getelem(child[0])%}
									{% if childelem['parent'] == elemid %}
										{% if children != "" %}
											{% set children = children ~ ', ' %}
										{% endif %}
										{% set children = children ~ webmodel.getreflink(name=childelem['name'],destid=child[0]) |safe%}
									{% endif %}
									{% endfor %}
									<td class="attribute">{{ children }}</td>
									
								</tr>
							</tbody>
						</table>
					</div>
					
					<!--references-->       
					{% if elem|count > 0 %}
					{% call blocks.subblock(header=webmodel.gettransltext("Referenziert"), lbc=elemid ~ "ref") %}
						{{ blocks.referencelist(webmodel,elemid,elem["references+"]) }}
					{% endcall %}
					{% endif %}
					
		{% endcall%}
		{% endfor %}

		<!--actor roles-->
		{% for actr in webmodel.actorroles %}
		{% set elemid = actr[0] %}
		{% set elem = webmodel.getelem (elemid) %}
		{% call blocks.mainblock(type=webmodel.gettransltext("Akteurrolle"), id=elemid, name=elem["name"], descr=elem["descr"], lbc=elemid ~ "main") %}

			<!--references-->
			{% if elem|count > 0 %}
			{% call blocks.subblock(header=webmodel.gettransltext("Referenziert"), lbc=elemid ~ "ref") %}
				{{ blocks.referencelist(webmodel,elemid,elem["concerns"]) }}
			{% endcall %}
			{% endif %}

		{% endcall%}
		{% endfor %}

		<!--diagrams-->
		{% if webmodel.diagrams|count > 0 %}
			{% for diag in webmodel.diagrams %}
				<div id="{{ diag.id }}-container">
					<h3 id="{{ diag.id }}">{{ diag.name }}</h3>
					{% if diag.svg %}
						<div class="diagram">
							{{ diag.svg|safe }}
							<div class="print-button-container">
								<button class="print-button" onclick="printElem(this)">print</button>
							</div>
						</div>
					{% elif diag.pdf %}
						<iframe src="{{ diag.pdf }}" height="800" width="1800">
							<div class="print-button-container">
								<button class="print-button" onclick="printElem(this)">print</button>
							</div>
						</iframe>
					{% endif %}
				</div>
			{% endfor %}
		{% endif %}
	</div>

    <div class="modal" id="MobileSearch" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-full" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Filter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeM0">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContent">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeM1">OK</button>
                </div>
            </div>
        </div>
    </div>
	{{ blocks.zoomfinish(diagrams=webmodel.diagrams) }}
</body>
</html>
