{% macro tdbool2icon(bool) -%}
	{% if bool %}	
		<td class="symbol"><img class="icon-check" src="images/icons/checkmark.svg"></td>
	{% else %}	
		<td class="symbol"><img class="icon-remove" src="images/icons/cross.svg"></td>
	{% endif %}	
{%- endmacro %}

{% macro tdicon(icon) -%}
	{% if icon == 'down' %}	
		<td class="leftsymbol"><img class="icon-down" src="images/icons/downarrow.svg"></td>
	{% elif icon == 'up' %}		
		<td class="leftsymbol"><img class="icon-up" src="images/icons/uparrow.svg"></td>
	{% else %}	
		<td> icon </td>
	{% endif %}	
{%- endmacro %}


{% macro listblock(label, id, lbc) -%}
				<div class="panel-body" id="{{id}}">
					<div class="panel">
						<div class="panel-heading collapsed" data-toggle="collapse" data-target="#{{lbc}}">
							<label class="label0">{{ label }}</label>
							<img class="icon-minus" alt="minus" src="images/icons/minus.svg">
							<img class="icon-plus" alt="plus" src="images/icons/plus.svg">
						</div>
					</div>
					<!-- The inside div eliminates the 'jumping' animation. -->
					<div class="collapse" id="{{lbc}}">
						{{ caller() }}
					</div>
				</div>
{%- endmacro %}

{% macro mainblock(type, id, name, descr, lbc, parenttype='',parentname='',icon = None,environ=None) -%}
		<div class="entity" id="{{ id }}">
			<div class="describtion">
				 <span>
						<p>{{ type }}</p>
						<h1>{{ name }}
{# ersetzt durch Icon in tabelle unten
						 {% if icon %}
							 <img src="{{ icon }}" height="40px" width="40px">
						 {% endif %}
#}						
						</h1>
						<p1><span style="text-transform:uppercase">{{ parenttype ~"  "}}</span>{{ parentname }}</p1>
			<table style="width:100%">
			  <tr>
			  	<th style="width:70%">{{ descr|nvl|formattext|safe }}</th>
			    {% if icon %}
					<th style="width:10%"><img src="{{ icon }}" height="100px" width="100px"></th> 
				{% endif %}  
			    {% if environ %}
					<th style="width:20%">{{ environ|safe }}</th>
				{% endif %}  
			  </tr>
			</table>
				</span>
			</div>
			
			<div class="panel-body">
				<div class="collapse" id="{{ lbc }}">
				   {{  caller() }}
				</div>
			</div>
			<div class="panel">
				<div class="panel-heading collapsed" data-toggle="collapse" data-target="#{{ lbc }}">
					<img class="icon-chevron-up" alt="minus" src="images/icons/chevron-up.svg">
					<img class="icon-chevron-down" alt="plus" src="images/icons/chevron-down.svg">
					<label class="label1">more</label>
				</div>
			</div>
		</div>
{%- endmacro %}

{% macro subblock(header, lbc) -%}
					<div class="panel"  id="#{{lbc}}">
						<div class="panel-heading collapsed" data-toggle="collapse"  data-target="#{{lbc}}">
							<img class="icon-chevron-up" alt="minus" src="images/icons/chevron-up.svg">
							<img class="icon-chevron-down" alt="plus" src="images/icons/chevron-down.svg">
							<label class="label1"><h3>{{ header }}</h3></label>				
						</div>
					</div>
					<div class="collapse" id="{{lbc}}">
						{{ caller () }}
					</div>
{%- endmacro %}

{% macro userdefproperties(udprs) -%}
				{% for udptheme,udpgroups in udprs.items() %}
					<div class="table-responsive">
						<h3>{{ udptheme }}</h3>
						<table class="table borderless" >
							<tbody>
								<tr>
									<th>Group</th>
									<th>Property</th>
									<th>Value</th>
								</tr>
								{% for udpgrpid,udpgroup in udpgroups.items() %}
									{% for udpid,udp in udpgroup.items() %}
									<tr>
										<td>{{ udpgrpid }}</td>
										<td>{{ udp.name }}</td> 
										<td>{{ getnvl(udp.value) }}</td>
									</tr>
									{% endfor %}
								{% endfor %}
							</tbody>
						</table>
					</div> 
				{% endfor %}
{%- endmacro %}

{% macro referencelist(webmodel,elemid,elem) -%}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>{{ webmodel.gettransltext("Typ") }}</th>
										<th>{{ webmodel.gettransltext("Referenz") }}</th>
										{% if elemid[:4] == 'BURU' %}
										<th>
											 {{ webmodel.gettransltext("R/W") }}
										</th>
										{% elif elemid[:4] == 'ACTR' %}
										<th>
											 {{ webmodel.gettransltext("RACI") }}
										</th>
										{% endif %}
									</tr>
									{% for refid in elem %}
									{% set refelem = webmodel.getelem(refid) %}
									<tr>
										<td>{{ webmodel.displelemtype(refid)}}</td>
										{% set displ = webmodel.getlangstr(refelem["name"]) %}
										{% if refid[:4] == 'TABL' %}
											{% set displ = displ ~ " ({})".format(refelem["interface-name+"]) %}
										{% elif refid[:4] == 'COLU' %}
											{% set displ = displ ~ " ({}: {})".format(refelem["table-name+"],refelem["interface-name+"]) %}
										{% endif %}
										<td>{% if (elemid[:4] == 'BURU' and refid[:4] == 'RELA' ) %}
												{% set refid1 = webmodel.getelem(refid)["from-to"]["enti"] %}
												{% set displ1 = webmodel.getlangstr(webmodel.getelem(refid1)["name"]) %}
												{% set refid2 = webmodel.getelem(refid)["to-from"]["enti"] %}
												{% set displ2 = webmodel.getlangstr(webmodel.getelem(refid2)["name"]) %}
												{{ displ ~ ': ' ~ webmodel.getreflink(name=displ1
												   ,destid=refid1
												   ,destintfid=webmodel.getelemintfid(refid1))|safe }}
												{{ '   <->   ' ~ webmodel.getreflink(name=displ2
												   ,destid=refid2
												   ,destintfid=webmodel.getelemintfid(refid2))|safe }}
											{% else %}
												{{ webmodel.getreflink(name=displ
												   ,destid=refid
												   ,destintfid=webmodel.getelemintfid(refid))|safe }}
											{% endif %}
										</td>
										{% if elemid[:4] == 'BURU' %}
										<td>
											 {{ elem[refid]["r/w"] }}
										</td>
										{% elif elemid[:4] == 'ACTR' %}
										<td>
											 {{ elem[refid] }}
										</td>
										{% endif %}
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div> 
{%- endmacro %}

{% macro refbylist(webmodel, elemid, elem) -%}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>{{ webmodel.gettransltext("Typ") }}</th>
										<th>{{ webmodel.gettransltext("Reference") }}</th>
									</tr>
									{% for refid in elem["referencedby"] %}
									{% set refelem = webmodel.getelem(refid) %}
									<tr>
										<td>{{ webmodel.displelemtype(refid)}}</td>
										<td>{{ webmodel.getreflink(name=webmodel.getlangstr(refelem["name"])
											   ,destid=refid
											   ,curintfid=webmodel.getelemintfid(elemid))|safe }}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div> 
{%- endmacro %}

{% macro reflist(webmodel, elemid, type, refs) -%}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>{{ webmodel.gettransltext("Name") }}</th>
										{% if type == 'BURU' %}
										<th>{{ webmodel.gettransltext("Typ") }}</th>
										<th>{{ webmodel.gettransltext("R/W") }}</th>
										{% elif type == 'ACTR' %}
										<th>{{ webmodel.gettransltext("RACI") }}</th>
										{% endif %}
									</tr>
									{% for refid in refs %}
									{% set ref = webmodel.getelem(refid) %}
									<tr>
										<td>{{ webmodel.getreflink(name=webmodel.getlangstr(getnvl(ref["name"],'???'))
											   ,destid=refid
											   ,curintfid=webmodel.getelemintfid(elemid))|safe }}
										</td>
										{% if type == 'BURU' %}
										<td>{{ ref["type"] }}</td>
										<td>{{ ref['elements'][elemid]["r/w"] }}</td>
										{% elif type == 'ACTR' %}
										<td>{{ refs[refid] }}</td>
										{% endif %}
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
{%- endmacro %}


{% macro elementlist(webmodel, elems) -%}
			{% for elemid in elems %}
			{% if loop.index > 1 %} {{ ', ' }} {% endif %}
			{{ webmodel.getreflink(name=webmodel.getlangstr(webmodel.getelem(elemid)["name"]),destid=elemid) |safe}}
			{% endfor %}
{%- endmacro %}

{% macro  attrlist (webmodel,elem,title,attrtype) -%}
				<h4>{{ webmodel.gettransltext(title) }}</h4>
				<div class="table-responsive">
					<table class="table borderless" >
						<tbody>
							<tr>
								<th>{{ webmodel.gettransltext('Name') }}</th>
								<th>{{ webmodel.gettransltext('Wertebereich') }}</th>
								<th>{{ webmodel.gettransltext('Typ') }}</th>
								<th>{{ webmodel.gettransltext('Pflichtattribut') }}</th>
								<th>{{ webmodel.gettransltext('Schlüssel') }}</th>
								<th>{{ webmodel.gettransltext('Deskriptor') }}</th>
								{% if attrtype == "attributes+" %}
								<th>{{ webmodel.gettransltext('übersetzt') }}</th>
								<th>{{ webmodel.gettransltext('wiederholt') }}</th>
								<th>{{ webmodel.gettransltext('historisiert') }}</th>
								<th>{{ webmodel.gettransltext('verschlüsselt') }}</th>
								{% else %}
								<th>{{ webmodel.gettransltext('Entität') }}</th>
								{% endif %}
							</tr>
							{% for attrid in elem[attrtype] %}
							{% set attr = webmodel.getelem(attrid) %}
							{% set domaid = attr["domain"] %}
							{% set entiid = attr["entity"] %}
							<tr>
								<td>{{ webmodel.getreflink(name=webmodel.getlangstr(attr["name"]), destid=attrid) |safe}}</td>
								<td> {% if domaid %}
									{% set doma = webmodel.getelem(domaid) %}
									{% if doma["origin"] == 'DER' %}
									{{ webmodel.getlangstr(doma["name"]) }}
									{% else %}
									{{ webmodel.getreflink(name=webmodel.getlangstr(doma["name"]),destid=domaid)|safe}}
									{% endif %}
									{% endif %}
								</td>
								<td>{{ attr["type+"] }}</td>
								{{ tdbool2icon(attr["mandatory"]) }}
								{{ tdbool2icon(attr["keys+"]|count > 0) }}
								{{ tdbool2icon(attr["descriptive"]) }}
								{% if attrtype == "attributes+" %}
									{{ tdbool2icon(attr["translated"]) }}
									{{ tdbool2icon(attr["repeated"]) }}
									{{ tdbool2icon(attr["historisiert"]) }}
									{{ tdbool2icon(attr["encrypted"]) }}
								{% else %}
									<td>{{ webmodel.getreflink(name=webmodel.getlangstr(webmodel.getelem(entiid)["name"]),destid=entiid)|safe }}</td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
{%- endmacro %}


{% macro zoomfinish(diagrams) -%}
	<script>
		function initSVGZoom() {
			var shifted = false
			var zoomchange = 0.85
			{% if diagrams|count > 0 %}
				{% for elem in diagrams %}
					{% set diagname = elem.id+ "-SVG" %}
					panZoomDiag{{ elem.id }} = svgPanZoom('#{{ diagname }}', {
					panEnabled: true,
					controlIconsEnabled: true,
					mouseWheelZoomEnabled: true,
					zoomEnabled: false,
					onZoom: function(e){
						if(e < zoomchange) {
							$('#{{ diagname }} a[href*="#ATTR"]').hide();
							$('#{{ diagname }} a[href*="#COLU"]').hide();
						} else {
							$('#{{ diagname }} a[href*="#ATTR"]').show();
							$('#{{ diagname }} a[href*="#COLU"]').show();
						}
					}
					});
				{% endfor %}
				$(document).on('keyup keydown', function(e){
				shifted = e.shiftKey;
				{% for elem in diagrams %}
					if(shifted) {
						panZoomDiag{{ elem.id }}.enableZoom();
					} else {
						panZoomDiag{{ elem.id }}.disableZoom();
					}
				{% endfor %}
				} );
			{% endif %}
		}

		$(document).ready(function() {
			$(window).scroll(function() {
				if ($(this).scrollTop() > 700) {
					$('#btnTop').fadeIn();
				} else {
					$('#btnTop').fadeOut();
				}
			});
			// scroll content to top by clicking on button
			$('#btnTop').click(function() {
				$('body,html').animate({
					scrollTop: 0
				}, 400);
				return false;
			});

			$tblshow();
			initSVGZoom();
		});
	</script>
{%- endmacro %}
