		<!--Entities-->       
		{% for enti in webmodel.entities %}
		{% set elemid = enti[0] %}
		{% set elem = webmodel.getelem (elemid) %}
		{% call blocks.mainblock(type = webmodel.gettransltext("Entität"), id=elemid, name = webmodel.getlangstr(elem["name"])
									, descr = webmodel.getlangstr(elem["descr"]), lbc=elemid ~ "main"
									,icon=webmodel.getentiicon(entielem=elem),environ=webmodel.getentienviron(elemid)) %}

					<h2>Information</h2>
					<div class="table-responsive">
						<table class="table borderless">
							<tbody>
								<tr>
									<th>{{ webmodel.gettransltext('Synonyme') }}</th>									
									<th>{{ webmodel.gettransltext('Superentitäten') }}</th>
									<th>{{ webmodel.gettransltext('Subentitäten') }}</th>
									<th>{{ webmodel.gettransltext('Rollen') }}</th>
									<th>{{ webmodel.gettransltext('Klassifikation') }}</th>
									<th>Zoom levels</th>
									<th>Dev. Status</th>
									<th>{{ webmodel.gettransltext('auf Diagramm(en)') }}</th>
									<th> {{ webmodel.gettransltext('geändert') }}</th>
								</tr>
								<tr>
									<td class="attribute">
										{% for syno in elem["synonyms"].values() %}
										{% if loop.index > 1 %} {{ ', ' }} {% endif %}
										{{ webmodel.getlangstr(syno) }}
										{% endfor %}
									</td>
									<td class="attribute">
										{{ blocks.elementlist(webmodel=webmodel, elems=elem["supertypes+"]) }}
									</td>
									<td class="attribute">
										{{ blocks.elementlist(webmodel=webmodel, elems=elem["subtypes+"]) }}
									</td>
									<td class="attribute">
										{{ blocks.elementlist(webmodel=webmodel, elems=elem["roles+"]) }}
									</td>

									<td class="attribute">{{ webmodel.getelem(elem['category'])["name"] }}</td>
									<td class="attribute">{{ '{} - {}'.format(elem['minzoomlevel'],elem['maxzoomlevel']) }}</td>
									<td class="attribute">{{ getnvl(elem['devstatus']) }}</td> {# Modelelement.longdevstatus( #}
									<td class="attribute">
										{% for diagid in elem["diagrams+"] %}
										{% set diag = webmodel.getelem(diagid) %}
										{% if loop.index > 1 %} {{ ', ' }} {% endif %}
										{{ webmodel.getreflink(name=diag["name"],destid=diagid)|safe }}
										{% endfor %}
									</td>
									<td class="attribute">{{ '{}, {}'.format(elem['uc'],elem['dc']) }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<!--attributes-->       
					{% call blocks.subblock(header=webmodel.gettransltext("Attribute"), lbc=elemid ~ "attr") %}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>{{ webmodel.gettransltext('Name') }}</th>
										<th>{{ webmodel.gettransltext('Wertebereich') }}</th>
										<th>{{ webmodel.gettransltext('Typ') }}</th>
										<th>{{ webmodel.gettransltext('Pflichtattribut') }}</th>
										<th>{{ webmodel.gettransltext('Schlüssel') }}</th>
										<th>{{ webmodel.gettransltext('Deskriptor') }}</th>
										<th>{{ webmodel.gettransltext('übersetzt') }}</th>
										<th>{{ webmodel.gettransltext('wiederholt') }}</th>
										<th>{{ webmodel.gettransltext('historisiert') }}</th>
										<th>{{ webmodel.gettransltext('verschlüsselt') }}</th>
									</tr>
									{% for attrid in elem["attributes+"] %}
									{% set elem = webmodel.getelem(attrid) %}
									{% set domaid = elem["domain"] %}
									<tr>
										<td>{{ webmodel.getreflink(name=webmodel.getlangstr(elem["name"]), destid=attrid) |safe}}</td>
										<td> {% if domaid %}
											{% set doma = webmodel.getelem(domaid) %}
											{% if doma["origin"] == 'DER' %}
											{{ webmodel.getlangstr(doma["name"]) }}
											{% else %}
											{{ webmodel.getreflink(name=webmodel.getlangstr(doma["name"]),destid=domaid)|safe}}
											{% endif %}
											{% endif %}
										</td>
										<td>{{ elem["type+"] }}</td>
										{{ blocks.tdbool2icon(elem["mandatory"]) }}
										{{ blocks.tdbool2icon(elem["keys+"]|count == 0) }}
										{{ blocks.tdbool2icon(elem["descriptive"]) }}
										{{ blocks.tdbool2icon(elem["translated"]) }}
										{{ blocks.tdbool2icon(elem["repeated"]) }}
										{{ blocks.tdbool2icon(elem["historisiert"]) }}
										{{ blocks.tdbool2icon(elem["encrypted"]) }}
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div> 
					{% endcall %}
					
					<!--keys-->       
					{% call blocks.subblock(header=webmodel.gettransltext("Schlüssel"), lbc=elemid ~ "keys") %}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>{{ webmodel.gettransltext('Name') }}</th>
										<th>{{ webmodel.gettransltext('Attribute(e)') }}</th>
										<th>{{ webmodel.gettransltext('Beziehung(en)') }}</th>
									</tr>
									{% for keysid in elem["keys+"] %}
									{% set key = webmodel.getelem(keysid) %}
									<tr>
										<td>{{ key["name"] }}</td>
										<td>
											{% for attrid in key["key-elements"]["attributes"] %}
											{% set attr = webmodel.getelem(attrid)%}
											{% if loop.index > 1 %} {{ ', ' }} {% endif %}
											{{ webmodel.getreflink(name= webmodel.getlangstr(attr["name"]),destid=attrid)|safe }}
											{% endfor %}
											
										</td>
										<td>
											{% for relaid in key["key-elements"]["relations"] %}
											{% set rela = webmodel.getelem(relaid)%}
											{% if loop.index > 1 %} {{ ', ' }} {% endif %}
											{{ rela["name"] }}
											{% endfor %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div> 
					{% endcall %}
					
				    <!-- relationships-->
					{% call blocks.subblock(header=webmodel.gettransltext("Beziehungen"), lbc=elemid ~ "rela") %}
						{{ webmodel.getentienviron(elemid)|safe }}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>{{ webmodel.gettransltext('Name') }}</th>
										<th>{{ webmodel.gettransltext('Entität')~'-1' }}</th>
										<th></th>
										<th>{{ webmodel.gettransltext('Beziehung') }}</th>
										<th></th>
										<th>{{ webmodel.gettransltext('Entität')~'-2' }}</th>
										<th>{{ webmodel.gettransltext('Arc') }}</th>
										<th>{{ webmodel.gettransltext('Schlüssel') }}</th>
									</tr>
									{% for relaid in elem["relations+"] %}
									{% set rela = webmodel.getelem(relaid) %}
										{% if (rela['type'] not in ('ISAR','ISAS')) %}
											{% set fromarc,toarc = '','' %}
											{% if (rela['from-to']['arc'] is not none) %} {% set arc = webmodel.getelem(rela['from-to']['arc'])['name'] %}{% endif %}
											{% if (rela['to-from']['arc'] is not none) %} {% set arc = webmodel.getelem(rela['to-from']['arc'])['name'] %}{% endif %}
											{% if (elemid == rela['from-to']['enti']) %}
												{% set fromto =  rela['from-to']%}
												{% set tofrom =  rela['to-from']%}
											{% else %}
												{% set fromto =  rela['to-from']%}
												{% set tofrom =  rela['from-to']%}
											{% endif %}
											<tr>
											<td>{{ getnvl(rela["name"]) }}</td>
											<td>{{ webmodel.getlangstr(elem["name"]) }}</td>
											<td>{{ "->" }}</td>
											<td>{{ webmodel.getlangstr(getnvl(fromto['assoc'])) }}</td>
											<td>{{ fromto['cardstr+'] }}</td>
											{{ blocks.tdicon('down') }}
											<td>{{ arc }}</td>
											{{ blocks.tdbool2icon((rela['isinkeys+']|count) > 0) }}
										   </tr>
									   		<tr>
											<td>{{ '' }}</td>
											{{ blocks.tdicon('up') }}
											<td>{{ tofrom['cardstr+'] }}</td>
											<td>{{ '<-' }}</td>
											<td>{{ webmodel.getlangstr(getnvl(tofrom['assoc'])) }}</td>
											<td>{{ webmodel.getreflink(name=webmodel.getlangstr(webmodel.getelem(tofrom['enti'])['name'])
																,destid=tofrom['enti']) |safe }}</td>
											</tr>
										{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div> 
					{% endcall %}
					
					<!--referencedby-->
					{% if elem["referencedby"]|count > 0 %}
					{% call blocks.subblock(header=webmodel.gettransltext("Referenziert von"), lbc=elemid ~ "ref") %}
						{{ blocks.refbylist(webmodel,elemid,elem) }}
					{% endcall %}					
					{% endif %}
					
					<!--user defined properties-->
					{% if elem["userdefprops"]|count > 0 %}
					{% call blocks.subblock(header=webmodel.gettransltext("Benutzerdefinerte Eigenschaften"), lbc=elemid ~ "udp") %}
					{{ blocks.userdefproperties(udprs=elem["userdefprops"]) }}
					{% endcall %}
					{% endif %}
					
					<!--mappings-->       
					{% if (elem["tablesmapped+"]|count) > 0 %}
					{% call blocks.subblock(header="Mappings", lbc=elemid ~ "map") %}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>{{ webmodel.gettransltext('System') }}</th>
										<th>{{ webmodel.gettransltext('Tabellen') }}</th>
									</tr>
									{% for intfid,val in elem["tablesmapped+"].items() %}
									{% set intf = webmodel.getelem(intfid)%}
									<tr>
										<td>{{ intf["name"] }}</td>
										<td>
											{% for tablid in val %}
											{% set tabl = webmodel.getelem(tablid)%}
											{% if loop.index > 1 %} {{ ', ' }} {% endif %}
											{{ webmodel.getreflink(name= tabl["name"],destid=tablid,destintfid = intfid) |safe
											     + " (" +tabl["CRUD"] +")" }} {# + " ({})".format(''.join(mapping)) #}
											{% endfor %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div> 
					{% endcall %}
					{% endif %}

					<!--translations-->       
					{% set otherlangs = webmodel.getlanguages(all=False) %}
					{% if (otherlangs|count) > 0 %}
					{% set synonyms = elem["synonyms"].values()%}
					{% call blocks.subblock(header=webmodel.gettransltext("Übersetzungen"), lbc=elemid ~ "transl") %}
						<div class="table-responsive">
							<table class="table borderless" >
								<tbody>
									<tr>
										<th>{{ webmodel.gettransltext('Element') }} </th>
										{% for lang in otherlangs %}
											<th>{{ lang }}</th>
										{% endfor %}
									</tr>
									<tr>
										<td>{{ webmodel.gettransltext('Name') }}</td>
										{% for lang in otherlangs %}
											<td>{{ webmodel.getreflink(name=elem["name"][lang], destid=elemid, destlang=lang)|safe }}</td>
										{% endfor %}
									</tr>
									<tr>
										<td>{{ webmodel.gettransltext('Synonym') }}</td>
										{% for lang in otherlangs %}
											<td>
												{% for syn in synonyms %}
												{% if loop.index > 1 %} {{ ', ' }} {% endif %}
												{{ syn[lang]}}
												{% endfor %}
											</td>
										{% endfor %}
									</tr>
									<tr>
										<td>{{ webmodel.gettransltext('Beschreibung') }}</td>
										{% for lang in otherlangs %}
											<td>{{ getnvl(elem["descr"][lang]) }}</td>
										{% endfor %}
									</tr>
								</tbody>
							</table>
						</div> 
					{% endcall %}					
					{% endif %}
					
		{% endcall %}
		{% endfor %}
