<!-- this is the Confluence page content template for the Icon Library overview page to be rendered using jinja2 -->
{% set entity = item %}
<ac:layout>
  {% include 'header.confluence.jinja2' %}

  <ac:layout-section ac:type="single">
    <ac:layout-cell>
    <p>
      <ac:structured-macro ac:name="toc" ac:schema-version="1">
        <ac:parameter ac:name="maxLevel">1</ac:parameter>
      </ac:structured-macro>
    </p>
    </ac:layout-cell>
  </ac:layout-section>

  {% set sections = data['sections'].keys() | list %}
  {% for title in sections | sort %}
  {% set section = data['sections'][title] %}
  <ac:layout-section ac:type="single">
    <ac:layout-cell>
      <h1>{{title}}</h1>
      <table style="bordercolor: #F1F1F1">
        <tbody>
          {% set elements = section['icons'] | list %}
          {% for row_index in range(40) if elements|length > 0 %}
          <tr>
            {% for column_index in range(7)  %}
              {% set icon = elements.pop() if elements|length > 0 else None %}
              <td style="text-align: center;">
              {% if icon %}
                <img src="{{icon['url']}}" width="50px" alt="{{icon['name']}}" {{icon['style']}}/>
                {{ '<br/><div style="text-align: center">{}</div>'.format(icon.get('name')) }}
                <ac:structured-macro ac:name="html" ac:schema-version="1">
                  <ac:plain-text-body><![CDATA[<div style="line-height: .1em; margin-left: 1px; margin-right: 1px;"><span style="color:#F8F8F8;font-size:.5em">{{icon['search-terms']}}</span></div>]]></ac:plain-text-body>
                </ac:structured-macro>
              {% endif %}
              </td>
              <!-- td><p><ac:link><ri:page ri:content-title="{{ None }}" /><![CDATA[{{ None }}]]></ac:link></p></td -->
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </ac:layout-cell>
  </ac:layout-section>
  {% endfor %}
</ac:layout>
