body,html {
    background-color: #f2f2f2;
    height: 100%;
    font-family: Helvetica;
}

html {
    overflow: scroll;
}

.wrapper {
    height: 100%;
}

.view {
    padding-top: 40px;
}

.entity {
     background-color: white;
     padding: 40px;
     margin-bottom: 40px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    padding: 5px 0px 5px 0px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

p {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p1 {
    color: #666666;
}

table {
    text-align: left;
}

.borderless th {
    border: none;
}

.vertical tr:first-child td:nth-child(1), tr:first-child td:nth-child(2){
    border: none;
    
}

td {
    font-size: 14px;
}

th{
    font-size: 10px;
    text-transform: uppercase;
    color: #aaaaaa;
    letter-spacing: 1px;
    font-weight: bold;
}

.ttr {
   text-align: left;
   color: #a6a6a6;
}

tr:hover  td {
    background-color: rgb(7, 158, 179, .05);
}


.symbol {
    text-align: center;
    vertical-align: middle;
    
}

/* hide scrollbar*/

.table-responsive::-webkit-scrollbar { /*Chrome, Safari, Opera*/
    width: 0 !important;
}

.table-responsive {
    overflow: -moz-scrollbars-none; /*Firefox*/
}

.table-responsive {
    -ms-overflow-style: none; /*Internet Explorer +10 */
}

/* ---- */

/* table fade out effect on last column*/

#container1{
    width:100%;
    padding:0;
    position:relative;
  }

@media only screen and (max-width: 1200px) {
 #container1:after{
    content:'';
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    width:100px;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 110%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 110%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 110%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  }
}
 

  .table{
    max-width:100%;
  }


/* ----- */


.attribute {
    text-align: left;
}

.describtion {
    padding-bottom: 20px;
    border-bottom: solid #d9d9d9 1px;
    margin-bottom: 20px;
}

a {
    text-decoration: none !important;
    color: black;
}

a:hover {
    color: black;
    cursor: pointer;
}

/*----*/

/*- Collabpsible Buttons Inhaltsverzeichnis-*/
.collapsible {
    color: black;
    cursor: pointer;
    padding: 15px;
    width: 20%;
    border: none;
    background: none;
    font-size: 20px;
}

.collapsible:after {
    content: '\002B';
    color: skyblue;
    font-weight: bold;
    float: none;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/*----*/

.panel-heading.collapsed .fa-chevron-up,
.panel-heading .fa-chevron-down {
  display: none;
}

.panel-heading.collapsed .fa-chevron-down,
.panel-heading .fa-chevron-up {
  display: inline-block;
}

i.fa {
  cursor: pointer;
  margin-right: 5px;
}

.fa-chevron-down, .fa-chevron-up {
    color: #079eb3;
}

.collapsed ~ .panel-body {
  padding: 0;
}

.label {
    color: #079eb3;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.fa-check {
  color: #07ab30;
}

.fa-remove {
  color: grey;
}